article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
@-webkit-keyframes rotate-i1{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)} to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}@-moz-keyframes rotate-i1{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)} to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}@-ms-keyframes rotate-i1{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)} to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}@-o-keyframes rotate-i1{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)} to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-i1{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)} to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}@-webkit-keyframes rotate-i2{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)} to{-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-ms-transform:rotate(-360deg);-o-transform:rotate(-360deg);transform:rotate(-360deg)}}@-moz-keyframes rotate-i2{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)} to{-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-ms-transform:rotate(-360deg);-o-transform:rotate(-360deg);transform:rotate(-360deg)}}@-ms-keyframes rotate-i2{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)} to{-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-ms-transform:rotate(-360deg);-o-transform:rotate(-360deg);transform:rotate(-360deg)}}@-o-keyframes rotate-i2{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)} to{-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-ms-transform:rotate(-360deg);-o-transform:rotate(-360deg);transform:rotate(-360deg)}}@keyframes rotate-i2{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)} to{-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-ms-transform:rotate(-360deg);-o-transform:rotate(-360deg);transform:rotate(-360deg)}}.loading{position:absolute;margin:auto;z-index:9999;opacity:.7;filter:alpha(opacity=70)}.loading i{position:absolute;background:url(../images/gear-32x32.png);width:32px;height:32px;-webkit-transition:linear;-moz-transition:linear;-ms-transition:linear;-o-transition:linear;transition:linear;margin:35px 27px;-webkit-animation:rotate-i2 5s infinite;-moz-animation:rotate-i2 5s infinite;-ms-animation:rotate-i2 5s infinite;-o-animation:rotate-i2 5s infinite;animation:rotate-i2 5s infinite}.loading i:first-child{margin:10px 10px;-webkit-animation:rotate-i1 5s infinite;-moz-animation:rotate-i1 5s infinite;-ms-animation:rotate-i1 5s infinite;-o-animation:rotate-i1 5s infinite;animation:rotate-i1 5s infinite}
.mixin-col{border:0 solid rgba(0,0,0,0);float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-moz-background-clip:padding-box !important;-webkit-background-clip:padding-box !important;background-clip:padding-box !important}
.col{border:0 solid rgba(0,0,0,0);float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-moz-background-clip:padding-box !important;-webkit-background-clip:padding-box !important;background-clip:padding-box !important}
.mixin-span_first{margin-left:0}
@media screen and (min-width:0) and (max-width:758px){.col{margin-left:0;padding:0 1.5%} .row .col:first-child{margin-left:0} .span_1{width:16.666666666666668%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_2{width:33.333333333333336%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_3{width:50%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_4{width:66.66666666666667%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_5{width:83.33333333333334%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_6{margin-left:0;width:100%}}@media screen and (min-width:759px){.col{margin-left:0;padding:0 1.5%} .row .col:first-child{margin-left:0} .span_1{width:8.333333333333334%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_2{width:16.666666666666668%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_3{width:25%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_4{width:33.333333333333336%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_5{width:41.66666666666667%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_6{width:50%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_7{width:58.333333333333336%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_8{width:66.66666666666667%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_9{width:75%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_10{width:83.33333333333334%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_11{width:91.66666666666667%;border-left-width:0;padding:0 1.5%;margin-left:0} .span_12{margin-left:0;width:100%}}.span1{width:6%}
.span2{width:14.5%}
.span3{width:23%}
.span4{width:31.5%}
.span5{width:40%}
.span6{width:48.5%}
.span7{width:57%}
.span8{width:65.5%}
.span9{width:74%}
.span10{width:82.5%}
.span11{width:91%}
.span12{width:99.5%}
.span13{width:108%}
.span14{width:116.5%}
.span15{width:125%}
.span16{width:133.5%}
.span17{width:142%}
.span18{width:150.5%}
.span19{width:159%}
.span20{width:167.5%}
.span21{width:176%}
.span22{width:184.5%}
.span23{width:193%}
.span24{width:201.5%}
.atk-row>.offset1{margin-left:11%}
.atk-row>.offset2{margin-left:19.5%}
.atk-row>.offset3{margin-left:28%}
.atk-row>.offset4{margin-left:36.5%}
.atk-row>.offset5{margin-left:45%}
.atk-row>.offset6{margin-left:53.5%}
.atk-row>.offset7{margin-left:62%}
.atk-row>.offset8{margin-left:70.5%}
.atk-row>.offset9{margin-left:79%}
.atk-row>.offset10{margin-left:87.5%}
.atk-row>.offset11{margin-left:96%}
.atk-row>.offset12{margin-left:104.5%}
.atk-wrapper{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-width:980px;padding-left:2.5%;padding-right:2.5%}
html{height:100%}
body{min-height:100%;height:100%}
body #atk-layout{height:auto !important;height:100%;min-height:100%}
body #atk-layout #atk-footer-guard{clear:both}
#footer{height:3em;margin-top:-3em}
#atk-footer-guard{height:4.618em}
html{font-family:"Helvetica Neue","Helvetica","sans-serif";font-size:87.5%;line-height:1.618}
body{color:#1a1a1a;font-size:1em}
h1,h2,h3,h4,h5,h6{font-family:"Helvetica Neue","Helvetica","sans-serif";font-weight:500;line-height:1;text-rendering:optimizeLegibility;margin:2.427rem 0 .809rem 0}h1+.atk-form,h2+.atk-form,h3+.atk-form,h4+.atk-form,h5+.atk-form,h6+.atk-form{margin-top:1.618rem}
.peta{font-size:4.236em}
.tera{font-size:3.046em}
h1,.giga{font-size:2.618em}
h2,.mega{font-size:1.883em}
h3,.kilo{font-size:1.618em}
h4,.hecto{font-size:1.164em}
h5,.deka{font-size:1em}
h6,small,.deci{font-size:.719em}
figure img{display:block;height:auto;width:100%}
figcaption{color:#f00;font-size:small;font-style:italic}
ul,ol,dl{margin:0 0 1.618 0}
p{margin:0 0 1.618rem 0}
blockquote{font-size:1.618em;font-style:italic;font-weight:300;margin:0 1.618rem 1.618rem}
mark{background:#00f;color:#f00;line-height:1em}
del{color:#f00}
code,kbd,pre,samp{border-top:1px dotted #bfbfbf;border-bottom:1px dotted #bfbfbf;cursor:text;line-height:1em;margin:0 0 1.618rem;padding:1.618rem}
pre{-webkit-background-clip:border-box;-webkit-background-origin:padding-box;-webkit-background-size:auto;-webkit-transition-delay:0;-webkit-transition-duration:.1s;-webkit-transition-property:all;-webkit-transition-timing-function:ease-in;background-attachment:scroll;background-clip:border-box;background-color:rgba(0,0,0,0);background-image:none;background-origin:padding-box;background-size:auto;border-bottom-color:#bfbfbf;border-bottom-style:dotted;border-bottom-width:1px;border-image-outset:0;border-image-repeat:stretch;border-image-slice:100%;border-image-source:none;border-image-width:1;border-left-color:#222;border-left-style:none;border-left-width:0;border-right-color:#222;border-right-style:none;border-right-width:0;border-top-color:#bfbfbf;border-top-style:dotted;border-top-width:1px;box-sizing:border-box;color:#222;cursor:default;display:block;font-family:monospace,serif;font-size:1em;font-style:normal;font-variant:normal;font-weight:normal;line-height:30px;margin-bottom:24px;margin-top:0;outline-color:#222;outline-style:none;outline-width:0;padding:1.618rem;position:relative;transition-delay:0;transition-duration:.1s;transition-property:all;transition-timing-function:ease-in;vertical-align:baseline;white-space:pre-wrap;word-wrap:break-word}
code{background-origin:padding-box;background-size:auto;border-bottom-color:#444;border-bottom-style:none;border-bottom-width:0;border-image-outset:0;border-image-repeat:stretch;border-image-slice:100%;border-image-source:none;border-image-width:1;border-left-color:#444;border-left-style:none;border-left-width:0;border-right-color:#444;border-right-style:none;border-right-width:0;border-top-color:#444;border-top-style:none;border-top-width:0;box-sizing:border-box;color:#444;cursor:default;display:inline;height:auto;line-height:24px;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;outline-color:#444;outline-style:none;outline-width:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;tab-size:3;transition-delay:0;transition-duration:.1s;transition-property:all;transition-timing-function:ease-in;vertical-align:baseline;white-space:pre-wrap;width:auto}
ins,small{line-height:1.618}
kbd,samp{line-height:1.618}
hr{background:#a9a9a9;border:none;margin:1.618rem 0;width:100%;height:1px;clear:both}
table{margin-bottom:1.4em;width:100%;border:1px solid #f00}
thead{text-align:left;font-weight:bold}
tbody tr:nth-child(even) td{background:#00f}
tfoot{font-style:italic}tfoot td,tfoot th{padding:.75em 10px}
th,td,caption{border:1px solid #f00}
td,th{padding:0 10px 0 10px;line-height:1.45em}
caption{border-bottom:0;padding:.75em 10px;line-height:1.45em;text-align:left;font-style:italic}
label{font-weight:bold;padding:.4045rem 0;margin-top:1px}
input[type="text"],input[type="url"],input[type="email"],input[type="password"],input[type="search"],input[type="number"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="tel"],textarea{background:#fff;border:1px solid #ccc;font-size:1em;line-height:1.618;padding:.4045rem}
textarea{min-height:5.663rem}
input[type=radio],input[type=checkbox]{line-height:1.618}
button,input[type=button],input[type=submit]{background:#666;border:1px solid #4d4d4d;color:#fff;font-size:1em;line-height:1.618;padding:.4045rem .809rem}
input[type=file],select{margin:.809rem 0 .809rem 0}
button::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="reset"]::-moz-focus-inner{padding:0 !important;border:0 !important}
input[readonly],div.atk-form-field-readonly{background:#e6e6e6}
input[type=text]:focus,input[type=password]:focus,textarea:focus{border-color:#0af;-webkit-box-shadow:0 0 3px rgba(0,170,255,0.7),0 0 10px rgba(0,170,255,0.30000000000000004);-moz-box-shadow:0 0 3px rgba(0,170,255,0.7),0 0 10px rgba(0,170,255,0.30000000000000004);box-shadow:0 0 3px rgba(0,170,255,0.7),0 0 10px rgba(0,170,255,0.30000000000000004);outline:none}
fieldset{border:none;margin:0;padding:0}
.atk-form{margin-bottom:1.618rem}.atk-form .atk-form-row+.atk-form-row{margin-top:1.618rem}
.atk-form fieldset legend{border:0;border-bottom:1px solid #e5e5e5;color:#333;padding:0;margin:0 0 .809rem 0;width:100%;display:block;font-size:1.618em}
.atk-form fieldset .atk-form-row{*zoom:1}.atk-form fieldset .atk-form-row:before,.atk-form fieldset .atk-form-row:after{display:table;content:"";line-height:0}
.atk-form fieldset .atk-form-row:after{clear:both}
.atk-form fieldset .atk-form-row>label{width:7rem;float:left}
.atk-form fieldset .atk-form-row>.atk-form-field{margin-left:9rem}.atk-form fieldset .atk-form-row>.atk-form-field input[type=text]:not([class*="span"]),.atk-form fieldset .atk-form-row>.atk-form-field input[type=password]:not([class*="span"]),.atk-form fieldset .atk-form-row>.atk-form-field input[readonly]:not([class*="span"]),.atk-form fieldset .atk-form-row>.atk-form-field textarea:not([class*="span"]),.atk-form fieldset .atk-form-row>.atk-form-field div.atk-form-field-readonly:not([class*="span"]),.atk-form fieldset .atk-form-row>.atk-form-field select{width:100%}
.atk-form fieldset .atk-form-row>.atk-form-field input+input{margin-left:.4045rem}
.atk-form fieldset .atk-form-row>.atk-form-field ins{text-decoration:none;color:#999;display:block;margin-top:.5393333333333333rem}
.atk-form fieldset .atk-form-row>.atk-form-field .atk-form-error{color:#e51717;margin-top:.5393333333333333rem}
.atk-form fieldset .atk-form-row.has-error>label{color:#e51717}
.atk-form fieldset .atk-form-row.has-error input{border-color:#e51717}
.atk-form fieldset .atk-form-row+*[class*=span]{margin-top:0}
.atk-form fieldset[class*=span]+fieldset[class*=span]+.atk-buttons{border:none;padding-left:0;margin:0}.atk-form fieldset[class*=span]+fieldset[class*=span]+.atk-buttons:before{border-top:1px solid #e5e5e5;margin-top:1.618rem;padding-top:1.618rem;padding-left:9rem;margin-top:0;content:'';display:block}
.atk-form fieldset+fieldset{margin-top:1.618rem;padding-top:1.618rem;border-top:1px solid #e5e5e5}
.atk-form .atk-buttons{border-top:1px solid #e5e5e5;margin-top:1.618rem;padding-top:1.618rem}
.atk-form .atk-buttons,.atk-form .legend{padding-left:9rem}
.atk-form.stacked fieldset .atk-form-row>label{margin-bottom:.26966666666666667rem;padding:0;width:auto;display:block;float:none}
.atk-form.stacked fieldset .atk-form-row>.atk-form-field{margin-left:0}
.atk-form.stacked fieldset .atk-form-row .atk-form-options{padding:0}
.atk-form.stacked .atk-buttons[class*=span]{padding-top:1.8876666666666668rem !important}
.atk-form.stacked .atk-buttons,.atk-form.stacked .legend{padding-left:0}
.atk-form.row fieldset{padding-top:0;margin-top:0;border:none}.atk-form.row fieldset[class*=span]>*[class*=span]{margin-top:0}
.atk-form.row fieldset[class*=span]+.atk-buttons[class*=span]{border:none;margin-top:0;padding:0;text-align:left;clear:none}
.atk-form.row .atk-buttons{clear:both;text-align:right}
.atk-form.wider-labels fieldset .atk-form-row>label{width:11.2rem;float:left}
.atk-form.wider-labels fieldset .atk-form-row>.atk-form-field{margin-left:13.2rem}
.atk-form.wider-labels.stacked fieldset .atk-form-row>label{width:auto;float:none}
.atk-form.wider-labels.stacked fieldset .atk-form-row>.atk-form-field{margin-left:0}
.atk-form.wider-labels .atk-buttons,.atk-form.wider-labels .legend{padding-left:13.2rem}
.atk-form.labels-right fieldset .atk-form-row>label{text-align:right}
.atk-form ul.atk-form-options{list-style-type:none;margin:0;padding:.4045rem 0}.atk-form ul.atk-form-options li{margin:0}.atk-form ul.atk-form-options li label{font-weight:normal}
.atk-form ul.atk-form-options li input{margin-right:.4045rem}
.atk-form ul.atk-form-options.stacked li{display:block}
.input-row{display:table}.input-row .input-cell{display:table-cell;vertical-align:middle}.input-row .input-cell.expanded{width:100%;line-height:24px}.input-row .input-cell.expanded:first-child input{-webkit-border-top-right-radius:0;-moz-border-top-right-radius:0;border-top-right-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-bottom-right-radius:0;border-bottom-right-radius:0}
.input-row .input-cell.expanded+.input-cell .ui-button{-webkit-border-top-left-radius:0;-moz-border-top-left-radius:0;border-top-left-radius:0;-webkit-border-bottom-left-radius:0;-moz-border-bottom-left-radius:0;border-bottom-left-radius:0;margin-left:-1px}
.input-row .input-cell.expanded input{width:100%}
.input-row .input-cell:first-child:not(.expanded) .ui-button{-webkit-border-top-right-radius:0;-moz-border-top-right-radius:0;border-top-right-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-bottom-right-radius:0;border-bottom-right-radius:0;margin-right:-1px}
.input-row .input-cell:first-child:not(.expanded)+.expanded input{-webkit-border-top-left-radius:0;-moz-border-top-left-radius:0;border-top-left-radius:0;-webkit-border-bottom-left-radius:0;-moz-border-bottom-left-radius:0;border-bottom-left-radius:0}
.input-row .input-cell .ui-buttonset{white-space:nowrap}
.input-row .input-cell>.ui-button{margin-left:0;margin-right:0}
.input-row .input-cell .ui-button *{line-height:normal}
.atk-row{*zoom:1}.atk-row:before,.atk-row:after{display:table;content:"";line-height:0}
.atk-row:after{clear:both}
.atk-row>*:first-child:not([class*="offset"]),.atk-row>form>*:first-child[class*="span"],.atk-row>form>*[class*="span"]>*:first-child[class*="span"]{margin-left:0 !important}
.atk-row>[class*="span"],.atk-row>form>[class*="span"],.atk-row>form>[class*="span"]>[class*="span"]{display:inline;float:left;margin-left:2.5%}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.atk-form:last-child,p:last-child{margin-bottom:0}
body{text-shadow:0 -1px 1px rgba(255,255,255,0.01);-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility}
.atk-box{background:#d3d3d3;padding:1.618rem;margin-bottom:1.618rem}.atk-box>h1:first-child,.atk-box>h2:first-child,.atk-box>h3:first-child,.atk-box>h4:first-child,.atk-box>h5:first-child,.atk-box>h6:first-child{margin-top:0}
.atk-buttons .ui-button+*,.atk-buttons button+*{margin-left:.5393333333333333rem}
.atk-flex{display:table}.atk-flex>div{display:table-cell;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.atk-wrapper{width:99.5%;margin-left:auto;margin-right:auto;*zoom:1}.atk-wrapper:before,.atk-wrapper:after{display:table;content:"";line-height:0}
.atk-wrapper:after{clear:both}
.atk-paginator a,.atk-paginator span{font-size:.9em;text-decoration:none;padding:.5em 1em;margin:0;display:inline-block}
.atk-paginator a.disabled{color:#999;cursor:default}
.atk-paginator a:hover{color:}
.atk-growl{font-weight:bold;position:fixed;top:3.236rem;right:3.236rem;z-index:9999;opacity:.8;filter:alpha(opacity=80)}.atk-growl>div{width:180px;margin-top:1.618rem;position:relative}.atk-growl>div:first-child{margin-top:0}
.atk-growl>div .ui-icon-closethick{opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-ms-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}
.atk-growl>div:hover .ui-icon-closethick{opacity:1;filter:alpha(opacity=100)}
.atk-notification{padding:1em;position:relative}.atk-notification .atk-notification-text{padding:0 20px}.atk-notification .atk-notification-text>.ui-icon{position:absolute;top:1.1111111111111112em;left:1em}
.atk-notification>a.ui-icon-closethick{position:absolute;top:.5em;right:.5em}
.atk-notification{-webkit-box-shadow:0 10px 20px #fff inset;-moz-box-shadow:0 10px 20px #fff inset;box-shadow:0 10px 20px #fff inset}
.atk-growl>.atk-notification{-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.4),0 10px 20px #fff inset;-moz-box-shadow:0 5px 10px rgba(0,0,0,0.4),0 10px 20px #fff inset;box-shadow:0 5px 10px rgba(0,0,0,0.4),0 10px 20px #fff inset}
::selection{background:#008000;color:#00f}
::-moz-selection{background:#008000;color:#00f}
img::selection{background:transparent}
img::-moz-selection{background:transparent}
body{-webkit-tap-highlight-color:#008000}
a{color:#0053b3;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}a:hover,a:focus{color:#f00}
.row{*zoom:1}.row:before,.row:after{display:table;content:"";line-height:0}
.row:after{clear:both}
