// ==========================================================
// Forms
// ==========================================================

label {
    font-weight: bold;
    padding: @margin/4 0;
    margin-top: 1px;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
textarea {
    background: #fff;
    border: 1px solid @borderClickable;
    font-size: 1em;
    line-height: @bodyBaseline;
    padding: 0.5em;
}

textarea {
    min-height: @margin * 3 + @margin/2;
}

input[type=radio],
input[type=checkbox] {
    line-height: @bodyBaseline;
}

input[type=file], select {
    margin: @margin/2 0 @margin/2 0;
}


// Overwriting (scaffolding) defaults
// ----------------------------------------------
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner { padding: 0 !important; border: 0 !important; }

input[readonly],
div.atk-form-field-readonly { background: @lightestGray; }

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    @shadow: 0 0 3px fadeout(@focused,30%), 0 0 10px fadeout(@focused,70%);
    border-color: @focused;
    .box-shadow(@shadow);
    outline: none;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

// ATK form
// ----------------------------------------------
.atk-form {
    margin-bottom: @margin;
    .atk-form-row + .atk-form-row {
        margin-top: @margin;
    }
    fieldset {
        legend {
            border: 0;
            border-bottom: 1px solid #e5e5e5;
            color: #333333;
            padding: 0;
            margin: 0 0 @margin/2 0;
            width: 100%;
            display: block;
            .atk-size-kilo;
        }
        .atk-form-row {
            .clear-fix();
            > label {
                width: @label;
                float: left;
            }
            > .atk-form-field {
                margin-left: @label + @labelMargin;
                input[type=text]:not([class*="span"]),
                input[type=password]:not([class*="span"]),
                input[readonly]:not([class*="span"]),
                textarea:not([class*="span"]),
                div.atk-form-field-readonly:not([class*="span"]),
                select { width: 100%; }
                input + input { margin-left: @margin/4; }
                ins {
                    text-decoration: none;
                    color: @lightGray;
                    display: block;
                    margin-top: @margin/3;
                }
                .atk-form-error {
                    color: @error;
                    margin-top: @margin/3;
                }
            }
            &.has-error {
                > label { color: @error; }
                input { border-color: @error; }
            }
            + *[class*=span] {
                margin-top: 0;
            }
        }
        &[class*=span] + fieldset[class*=span] + .atk-actions {
            border: none;
            padding-left: 0;
            margin: 0;
            &:before {
                .atk-actions;
                margin-top: 0;
                content: '';
                display: block;
            }
        }
        + fieldset {
                margin-top: @margin;
                padding-top: @margin;
                border-top: 1px solid @border;
        }
    }
    .atk-actions { border-top: 1px solid @border; margin-top: @margin; padding-top: @margin; }
    .atk-actions, .legend { padding-left: @label + @labelMargin; }

    // Stacked form
    &.stacked { 
        fieldset {
            .atk-form-row {
                > label {
                    margin-bottom: @margin/6;
                    padding: 0;
                    width: auto;
                    display: block;
                    float: none;
                }
                > .atk-form-field { margin-left: 0; }
                .atk-form-options {
                    padding: 0;
                }
            }
        }
        .atk-actions[class*=span] {
            padding-top: @margin + @margin/6 !important;
        }
        .atk-actions, .legend { padding-left: 0; }
    }
    // Inline form
    &.row {
        fieldset {
            padding-top: 0;
            margin-top: 0;
            border: none;
            &[class*=span] {
                > *[class*=span] {
                    margin-top: 0;
                }
                +.atk-actions[class*=span] {
                    border: none;
                    margin-top: 0;
                    padding: 0;
                    text-align: left;
                    clear: none;
                }
            }
        }
        .atk-actions { clear: both; text-align: right; }
    }
    // Form with wide labels
    &.wider-labels {
        fieldset {
            // legend {
            //     text-indent: @label*1.6 + @labelMargin;
            // }
            .atk-form-row {
                > label { width: @label + (@label*0.6); float: left; }
                > .atk-form-field { margin-left: @label + (@label*0.6) + @labelMargin; }
            }
        }
        &.stacked {
            fieldset .atk-form-row {
                > label { width: auto; float: none; }
                > .atk-form-field { margin-left: 0; }
            }
        }
        .atk-actions, .legend { padding-left: @label + (@label*0.6) + @labelMargin; }
    }
    // Form with right aligned labels
    &.labels-right fieldset .atk-form-row > label { text-align: right; }
}

// ATK form fields
// ----------------------------------------------
.atk-form {
    ul.atk-form-options {
        list-style-type: none;
        margin: 0;
        padding: @margin/4 0;
        li {
            margin: 0;
            label {
                font-weight: normal;
            }
            input {margin-right: @margin/4;}
        }
        &.stacked {
            li {
                display: block;
            }
        }
    }
}

// ATK form row ??? really ???
// ----------------------------------------------
.input-row {
    display: table;
    .input-cell {
        display: table-cell;
        vertical-align: middle;
        &.expanded {
            width: 100%;
            line-height: @lineHeight;
            &:first-child input {
                .border-right-radius(0);
            }
            +.input-cell .ui-button {
                .border-left-radius(0);
                margin-left: -1px;
            }
            input { width: 100%; }
        }
        &:first-child:not(.expanded) {
            .ui-button {
                .border-right-radius(0);
                margin-right: -1px;
            }
            +.expanded input {
                .border-left-radius(0);
            }
        }
        .ui-buttonset { white-space: nowrap; }
        > .ui-button { margin-left: 0; margin-right: 0; }
        .ui-button * { line-height: normal; }
    }
}

// @media screen and (-webkit-min-device-pixel-ratio:0) {
//     .input-row .input-cell .ui-button,
//     .input-row .input-cell .ui-button * { line-height: 1.4; }
// }

// and this is actually for layout
.atk-row {
    .clear-fix();
    // +.atk-row { margin-top: @margin; }

    > *:first-child:not([class*="offset"]),
    > form > *:first-child[class*="span"],
    > form > *[class*="span"]>*:first-child[class*="span"] {
        margin-left: 0 !important;
    }

    > [class*="span"],
    > form > [class*="span"],
    > form > [class*="span"] > [class*="span"] {
        .gridColumn();
    }
}
