// ==========================================================
// Mass Effect
// ==========================================================

* { 
   -webkit-box-sizing: border-box; 
   -moz-box-sizing: border-box; 
   box-sizing: border-box;
}

// This part should be rewised
.atk-form, p {
  &:last-child {
    margin-bottom: 0;
  }
}


// ==========================================================
// Components
// ==========================================================

.atk-box {
    .border-radius(@cornerRadius);
    background: lightgray;
    padding: @margin;
    margin-bottom: @margin;
    >h1, >h2, >h3, >h4, >h5, >h6 {
        &:first-child {
            margin-top: 0;
        }
    }
}
.atk-label {
    .border-radius(@cornerRadius);
    font-weight: bold;
    padding: 0.2em 0.4em;
}
.atk-buttons {
  .ui-button, button {
    + * {
      margin-left: @margin/3;
    }
  }
}
.atk-flex {
    display:table;
    > div {display:table-cell;vertical-align:top;.box-sizing();}
}

 // Wrapper container 
.atk-wrapper { .fixed-container(); }

 // Paginator 
.atk-paginator {
    a, span {font-size:0.9em;text-decoration:none;padding:@padding/4 @padding/2;margin:0;display:inline-block;}
    a.disabled {color:@lightGray;cursor:default;}
    a:hover {color:;}
}

 // Growl 
.atk-growl {
    font-weight:bold;
    position:fixed;
    top:@margin*2;
    right:@margin*2;
    z-index:9999;
    .opacity(80);
    >div {
        width:180px;
        margin-top:@margin;
        position:relative;
        &:first-child {margin-top:0;}
        .ui-icon-closethick {.opacity(0);@transition: opacity .2s;.transition(@transition);}
        &:hover {.ui-icon-closethick {.opacity(100);}}
    }
}

 // Notification 
.atk-notification {
    padding:@padding/2;
    position:relative;
    .atk-notification-text {
        padding:0 20px;
        >.ui-icon {position:absolute;top:@padding/1.8;left:@padding/2;}
    }
    >a.ui-icon-closethick {position:absolute;top:@padding/4;right:@padding/4;}
}
.atk-notification {.box-shadow(0 10px 20px @white inset);}
.atk-growl>.atk-notification {
    @shadow: 0 5px 10px fadeout(@shadowColor,60%),0 10px 20px @white inset;
    .box-shadow(@shadow);
}

// Dialog Minimal
.ui-dialog {
    &.atk-dialog-minimal {
        background: none;
        border: none;
        box-shadow: 0 0 100px rgba(0,0,0,0.25);
        .ui-dialog-titlebar.ui-widget-header {
            .kilo;
            background: #fff;
            border: none;
            border-radius: 0;
            color: #000;
            font-weight: 300;
            margin: 0;
            padding: @margin @margin 0 @margin;
            .ui-dialog-titlebar-close {
                display: none;
            }
        }
        .ui-dialog-content.ui-widget-content {
            background: #fff;
            padding: @margin/2 @margin @margin @margin;
            p {
                margin-bottom: @margin/1.5;
            }
            .atk-form {
                fieldset {
                    margin: 0;
                }
                .atk-form-row {
                    label {
                        display: none;
                    }
                    .atk-form-field input {
                        .deca;
                        background: gray;
                        border-color: black;
                        // margin-left: -@margin;
                        padding: @margin/2;
                        .placeholder(red);
                        .transition(.3s);
                        &:focus {
                            background: #fff;
                        }
                    }
                    + .atk-form-row {
                        margin-top: 0;
                        // .atk-form-field input {
                        //  border-top: none;
                        // }
                    }
                }
                .atk-buttons {
                    display: none;
                }
            }
        }
        .ui-dialog-buttonpane {
            border-color: black;
            margin: 0;
            padding: 0;
            .ui-dialog-buttonset {
                .flex;
                float: none;
                width: 100%;
                .ui-button {
                    .box-flex;
                    .deca;
                    background: none;
                    border: none;
                    border-radius: 0;
                    color: red;
                    display: block;
                    font-weight: 300;
                    line-height: 1;
                    margin: 0;
                    padding: 1em 0;
                    text-shadow: none;
                    &:hover {
                        background: lighten(gray,3%);
                    }
                    + .ui-button {
                        border-left: 1px solid black;
                    }
                }
            }
        }
    }
}


// ==========================================================
// Widgets
// ==========================================================
.atk-media-block {
    display: table;
    .atk-media, .atk-content {
        display: table-cell;
        vertical-align: top;
    }
    .atk-media + .atk-content {
        padding-left: @margin;
    }
    .atk-content {
        width: 100%;
    }
    &.center {
        .atk-media, .atk-content {
            vertical-align: middle;
        }
    }
}
.atk-menu {
    &, li {
        .clear-ul;
    }
    // &.bar {
    //     .border-radius(@cornerRadius);
    // }
    &.bar {
        >li {
            margin-left: 1px;
            a {
                display: block;
                padding: @margin/2 @margin;
            }
            &:first-child a {
                .border-radius(@cornerRadius 0 0 @cornerRadius);
                margin: 0;
            }
            &:last-child a {
                .border-radius(0 @cornerRadius @cornerRadius 0);
            }
        }
        &.atk-color-blue {
            background: none;
            >li {
                a {
                    background: @colorBlue;
                    &:hover {
                        background: darken(@colorBlue, 10%);
                        color: #000;
                    }
                }
            }
        }
    }
    &.even-cells {
        .flex;
        >li {
            .box-flex(1);
            text-align: center;
            margin-left: 1px;
        }
    }
}




// ==========================================================
// Selection Colors
// ==========================================================

::selection {
    background: green;
    color: blue;
}
::-moz-selection {
    background: green;
    color: blue;
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    -webkit-tap-highlight-color: green;
}


// ==========================================================
// Styling
// ==========================================================

a {
    color: @link;
    text-decoration: none;
    &:hover, &:focus{
        color: red;
    }
}


// ==========================================================
// Colors
// ==========================================================

*[class*=atk-color] {
    color: #000;
    a {
        color: #000;
        &:hover {
            color: blue;
        }
    }
    hr {
        background-color: #000;
    }
    &.atk-color-blue {
        background: @colorBlue;
    }
    &.atk-color-pink {
        background: @colorPink;
    }
    &.atk-color-green {
        background: @colorGreen;
    }
    &.atk-color-yellow {
        background: @colorYellow; 
    }
    &.atk-color-lightgray {
        background: @colorLightGray;
    }
}
*[class*=atk-effect] {
    &.atk-effect-danger {
        background: @effectDanger;
    }
    &.atk-effect-warning {
        background: @effectWarning;
    }
    &.atk-effect-success {
        background: @effectSuccess;
    }
    &.atk-effect-info {
        background: @effectInfo;
    }
}


// ==========================================================
// Fixes
// ==========================================================

.row {
    .clearfix;
}