// ==========================================================
// General
// ==========================================================

@bodyBackground:       #fff;
@margin:               1rem * @bodyBaseline;
@cornerRadius:         5px;
@siteWidth:            100%;


// ==========================================================
// Typography
// ==========================================================

@bodyFamily:           "Helvetica Neue", "Helvetica", @jui-ffDefault;
@bodyColor:            #000;
@bodySize:             0.875rem; // 14px
@bodyBaseline:         1.667; // Major Sixth

@headingColor:         #000;
@headingFamily:        "Helvetica Neue", "Helvetica", @jui-ffDefault;
@headingWeight:		   400;
@headingBaseline:	   1.2; // Minor Third

@fontScatter:          0.5; // Multiplier that affects difference between heading sizes


// ==========================================================
// Colors
// ==========================================================

@linkColor:            darken(@atk-swatch-blue,10%);
@linkColorHover:       red;

@textSelect:           @atk-swatch-ink; // Text selection's background color

@borderStatic:         #e1e1e1;
@borderClickable:      #c1c1c1;
@borderOverlay:        darken(@borderStatic, 25%);

@stateDefault:         #fff;
@stateHover:           #f5f5f5;
@stateActive:          #eee;

@colorFocus:           @atk-swatch-blue; // (!)
@colorLight:           #fff; // (!)
@colorDark:            #000; // (!)

@atk-swatch-gray:	   #e6f2ec;		.createSwatch(atk-swatch-gray);
@atk-swatch-ink:       #1c2933;		.createSwatch(atk-swatch-ink);
@atk-swatch-yellow:	   #ffcc00;		.createSwatch(atk-swatch-yellow);
@atk-swatch-green:     #00cc66;		.createSwatch(atk-swatch-green);
@atk-swatch-blue:      #0095ff;		.createSwatch(atk-swatch-blue);

@swatchText:           50%; // If swatch's lightness is more than 50% then text goes dark

@effectSuccess:        #ccffdb;
@effectWarning:        #fcffcc;
@effectDanger:         #ffcccc;
@effectInfo:           #cceeff;


// ==========================================================
// Import
// ==========================================================

@import                "jui-variables.less";


// (!) — Need to check if it can be simplified.