#atk-footer {
	border-top: 1px solid @borderStatic;
}

section {
	margin-top: @margin*3;
	h2:first-child {
		border-bottom: 1px solid @borderStatic;
		color: darken(@borderStatic, 10%);
		font-weight: 300;
	}
	&:first-child {
		margin-top: 0;
	}
}

#example-swatches {
	.row + .row {
		margin-top: 1em;
	}
}
#example-effects-box {
	.atk-box-small {
		margin-bottom: 0;
	}
}
#example-styling-shapes {
	.atk-padding {
		height: 200px;
		width: 200px; 
	}
}
#example-icons {
	#icons-library {
		white-space: nowrap;
	}
	#toggler {
		display: block;
	}
}
