// ==========================================================
// Positioning
// ==========================================================

.move-left {
    float: left;
}
.move-center {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    &.button {
        display: block;
    }
}
.move-right {
    float: right;
}
.align-left, .align-bottom-left, .align-middle-left, .align-top-left {
  text-align: left !important;
}
.align-right, .align-bottom-right, .align-middle-right, .align-top-right {
  text-align: right !important;
}
.align-center, .align-bottom-center, .align-middle-center, .align-top-center {
  text-align: center !important;
}
[class*="align-bottom"] {
  &, &.cells>.cell {
    vertical-align: bottom !important;
  }
}
[class*="align-middle"] {
  &, &.cells>.cell {
    vertical-align: middle !important;
  }
}
[class*="align-top"] {
  &, &.cells>.cell {
    vertical-align: top !important;
  }
}


// ==========================================================
// Spacing
// ==========================================================

.createSpace(@property:padding) {

    // All
    &[class*='@{property}-all'] {
        @{property}: @space;
    }
    &[class*='@{property}-all--xs'] {
        @{property}: @space-xs;
    }
    &[class*='@{property}-all--s'] {
        @{property}: @space-s;
    }
    &[class*='@{property}-all--l'] {
        @{property}: @space-l;
    }
    &[class*='@{property}-all--xl'] {
        @{property}: @space-xl;
    }

    // Bottom
    &[class*='@{property}-bottom'] {
        @{property}-bottom: @space;
    }
    &[class*='@{property}-bottom--xs'] {
        @{property}-bottom: @space-xs;
    }
    &[class*='@{property}-bottom--s'] {
        @{property}-bottom: @space-s;
    }
    &[class*='@{property}-bottom--l'] {
        @{property}-bottom: @space-l;
    }
    &[class*='@{property}-bottom--xl'] {
        @{property}-bottom: @space-xl;
    }

    // Left
    &[class*='@{property}-left'] {
        @{property}-left: @space;
    }
    &[class*='@{property}-left--xs'] {
        @{property}-left: @space-xs;
    }
    &[class*='@{property}-left--s'] {
        @{property}-left: @space-s;
    }
    &[class*='@{property}-left--l'] {
        @{property}-left: @space-l;
    }
    &[class*='@{property}-left--xl'] {
        @{property}-left: @space-xl;
    }

    // Right
    &[class*='@{property}-right'] {
        @{property}-right: @space;
    }
    &[class*='@{property}-right--xs'] {
        @{property}-right: @space-xs;
    }
    &[class*='@{property}-right--s'] {
        @{property}-right: @space-s;
    }
    &[class*='@{property}-right--l'] {
        @{property}-right: @space-l;
    }
    &[class*='@{property}-right--xl'] {
        @{property}-right: @space-xl;
    }

    // Top
    &[class*='@{property}-top'] {
        @{property}-top: @space;
    }
    &[class*='@{property}-top--xs'] {
        @{property}-top: @space-xs;
    }
    &[class*='@{property}-top--s'] {
        @{property}-top: @space-s;
    }
    &[class*='@{property}-top--l'] {
        @{property}-top: @space-l;
    }
    &[class*='@{property}-top--xl'] {
        @{property}-top: @space-xl;
    }

    // Reset
    &[class*='@{property}-all--none'] {
        @{property}: 0 !important;
    }
    &[class*='@{property}-bottom--none'] {
        @{property}-bottom: 0 !important;
    }
    &[class*='@{property}-left--none'] {
        @{property}-left: 0 !important;
    }
    &[class*='@{property}-right--none'] {
        @{property}-right: 0 !important;
    }
    &[class*='@{property}-top--none'] {
        @{property}-top: 0 !important;
    }
}
.createSpace(padding);
.createSpace(margin);

.space-sizing--xs {
    height: @space-xs
}
.space-sizing--s {
    height: @space-s;
}
.space {
    height: @space;
}
.space-sizing--l {
    height: @space-l;
}
.space-sizing--xl {
    height: @space-xl;
}


// ==========================================================
// Visuals
// ==========================================================

// Shapes
.shape-rectangle {
    &, input& {
        border-radius: 0;
    }
}
.shape-rounded {
    &, img&, input&  {
        .border-radius(@cornerRadius);
    }
}
.shape-rounded--top {
     &, img&, input&  {
        .border-radius(0);
        .border-top-radius(@cornerRadius);
    }
}
.shape-rounded--bottom {
     &, img&, input&  {
        .border-radius(0);
        .border-bottom-radius(@cornerRadius);
    }
}
.shape-rounded--left {
     &, img&, input&  {
        .border-radius(0);
        .border-left-radius(@cornerRadius);
    }
}
.shape-rounded--right {
     &, img&, input&  {
        .border-radius(0);
        .border-right-radius(@cornerRadius);
    }
}
.shape-rounded--top--left {
     &, img&, input&  {
        .border-radius(0);
        .border-top-left-radius(@cornerRadius);
    }
}
.shape-rounded--top--right {
     &, img&, input&  {
        .border-radius(0);
        .border-top-right-radius(@cornerRadius);
    }
}
.shape-rounded--bottom--left {
     &, img&, input&  {
        .border-radius(0);
        .border-bottom-left-radius(@cornerRadius);
    }
}
.shape-rounded--bottom--right {
     &, img&, input&  {
        .border-radius(0);
        .border-bottom-right-radius(@cornerRadius);
    }
}
.shape-circle {
    display: inline-block;
    &, img&, a&[class*="button"], button&[class*="button"], input&[class*="button"], a&.ui-button, button&.ui-button, input&.ui-button {
        .border-radius(50%);
    }
}

// Borders
[class*="border"] {
    border-style: solid;
    border-width: 0px;
    &:not([class*="border-left"]):not([class*="border-right"]):not([class*="border-top"]):not([class*="border-bottom"]):not(hr) {
      border-width: 1px;
    }
}
[class*="border"][class*="-outline"] {
    &, &[class*=button], &[class*=swatch] {
        background-color: transparent;
    }
}
[class*="border"][class*="-thick"] {
  &, &[class*="popover"] .popover-arrow:before {
    border-width: 2px !important;
  }
  hr& {
    border-width: 2px 0 0 0 !important;
  }
}
[class*="border-bottom"] {
  border-bottom-width: 1px;
}
[class*="border-left"] {
  border-left-width: 1px;
}
[class*="border-right"] {
  border-right-width: 1px;
}
[class*="border-top"] {
  border-top-width: 1px;
}
[class*="border-reset"] {
  &, &[class*=popover] .popover-arrow:before {
    border-width: 0px !important;
  }
}