// ==========================================================
// Hidden Variables
// ==========================================================
@margin:               round(@baselineDestroyer * @bodyBaseline, 1);
@baselineDestroyer:    1rem;


// ==========================================================
// General
// ==========================================================

* { 
   .box-sizing();
   outline: none !important;
   &:last-child {
        margin-bottom: 0;
   }
}
body {
    background: @bodyBackground;
}


// ==========================================================
// Selection Colors
// ==========================================================

::selection {
    background: @textSelect;
    .colorCheck(@textSelect);
}
::-moz-selection {
    background: @textSelect;
    .colorCheck(@textSelect);
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    -webkit-tap-highlight-color: @textSelect;
}


// ==========================================================
// Hyperlinks
// ==========================================================

a {
    color: @linkColor;
    text-decoration: none;
    &:hover, &:focus{
        color: @linkColorHover;
    }
}

.atk-color-facebook {
    background: blue;
}
.atk-color-twitter {
    background: blue;
}


// ==========================================================
// Fixes
// ==========================================================

.row {
    .clear-fix;
}
.labelSupport() {
  .atk-label {
      display: inline-block;
      height: 1em * @bodyBaseline;
      margin: 0 .2em;
      min-width: 1em * @bodyBaseline;
      padding-bottom: 0;
      padding-top: 0;
      text-align: center;
      &[class*='icon']:before {
          margin: 0;
      }
  }
}
*[class*=icon] {
  &:first-child{
    &:before {
      margin-left: 0;
    }
  }
  &:last-child {
    &:before {
      margin-right: 0;
    }
  }  
}
