// ==========================================================
// General
// ==========================================================

@margin:                round(@bodyBaseline * 1rem, 1);
@space:                 round(@margin, 1);
@space-xs:              round(@margin/3, 1);
@space-s:               round(@margin/2, 1);
@space-l:               round(@margin*2, 1);
@space-xl:              round(@margin*3, 1);

* { 
   .box-sizing();
   outline: none !important;
   &:last-child {
        margin-bottom: 0;
   }
}
body {
    background: @bodyBackground;
}


// ==========================================================
// Styles & Colors
// ==========================================================

.background-cover {
  .background-cover(inherit);
}
.background-fixed {
  .background-fixed;
}
::selection {
    background: @textSelect;
    .colorCheck(color, @textSelect);
}
::-moz-selection {
    background: @textSelect;
    .colorCheck(color, @textSelect);
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}


// ==========================================================
// Misc
// ==========================================================

.overflow {
  overflow: hidden;
}
.inline {
    display: inline-block !important;
}
.block {
    display: block !important;
}
.expand {
    width: 100% !important;
}
.width-auto {
    width: auto !important;
}
.clear-fix {
    .clear-fix;
}
.disabled {
    .opacity(50);
    pointer-events: none;
}


// ==========================================================
// Fixes
// ==========================================================

.row {
    .clear-fix;
}
*[class*=icon] {
  &:before {
    margin-left: 0;
    margin-right: 0; 
  }
}