// ==========================================================
// General
// ==========================================================

html {
    font-family: @bodyFamily;
    font-size: 100%; /* 16px */ 
    line-height: @bodyBaseline;
}
body {
    font-size: @bodySize;
}

*, body, button, input, textarea, select {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


// ==========================================================
// Headings
// ==========================================================

h1, h2, h3, h4, h5, h6 {
    font-family: @headingFamily;
    font-weight: @headingWeight;
    text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
    text-transform: @headingCase;
    margin: @margin 0 round(@margin/2,2) 0;
    &:extend([class*="atk-text"][class*="-lead"]);
    &:first-child {
        margin-top: 0;
    }
}
h1 { &:extend([class*="atk-text"][class*="-size--5xl"]); }
h2 { &:extend([class*="atk-text"][class*="-size--3xl"]); }
h3 { &:extend([class*="atk-text"][class*="-size--xl"]); }
h4 { &:extend([class*="atk-text"][class*="-size--l"]); }
h5 { &:extend([class*="atk-text"][class*="-size--m"]); }
h6, small { &:extend([class*="atk-text"][class*="-size--xs"]); }


// ==========================================================
// Text Styles
// ==========================================================

[class*="atk-text"] {
    &[class*="-heading"] {
        font-family: @headingFamily;
    }
    &[class*="-lead"] {
        line-height: @headingBaseline;
    }
    &[class*="-bold"] {
        font-weight: bold;
    }
    &[class*="-semibold"] {
        font-weight: 600;
    }
    &[class*="-normal"] {
        font-weight: 400;
    }
    &[class*="-light"] {
        font-weight: 300;
    }
    &[class*="-underline"] {
        text-decoration: underline;
    }
    &[class*="-italic"] {
        font-style: italic;
    }
    &[class*="-caps"] {
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    &[class*="-nowrap"] {
        white-space: nowrap;
    }
    &[class*="-baseline"] {
        line-height: @bodyBaseline;
    }
    &[class*="-baseline--single"] {
        &, a&[class*="button"], button&[class*="button"], input&[class*="button"], a&.ui-button, button&.ui-button, input&.ui-button {
            line-height: 1;
        }
    }
    &[class*="-ellipsis"] {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &[class*="-inherit"] {
        color: inherit;
    }
    &[class*="-font--clear"] {
        .clear-font;
    }
    &[class*="-font--reset"] {
        font-style: normal;
        letter-spacing: normal;
        text-transform: none;
        white-space: normal;
    }

    // Size Chart
    &[class*="-size--9xl"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*5);
    }
    &[class*="-size--8xl"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*4.5);
    }
    &[class*="-size--7xl"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*4);
    }
    &[class*="-size--6xl"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*3.5);
    }
    h1, &[class*="-size--5xl"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*3);
    }
    &[class*="-size--4xl"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*2.5);
    }
    &[class*="-size--3xl"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*2);
    }
    &[class*="-size--xxl"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*1.5);
    }
    &[class*="-size--xl"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*1);
    }
    &[class*="-size--l"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*0.5);
    }
    &[class*="-size--m"], &[class*="-size--default"] {
        font-size: @bodySize;
    }
    &[class*="-size--s"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*-0.5);
    }
    &[class*="-size--xs"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*-1);
    }
    &[class*="-size--xxs"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*-1.5);
    }
    &[class*="-size--3xs"] {
        font-size: @bodySize * pow(@bodyBaseline,@fontScatter*-2);
    }
}

// ==========================================================
// Images
// ==========================================================

// Make images responsive
figure img {
    display:block;
    height: auto;
    width: 100%;
}

// Figcaption styling
figcaption {
    color: red;
    font-size: small;
    font-style: italic;
}


// ==========================================================
// Lists
// ==========================================================

ul, ol, dl {
    margin: 0 0 @margin 0;
    &:last-child {
        margin-bottom: 0;
    }
}
ul, ol {
    &.atk-list-nobullets {
        margin-left: 0;
        padding-left: 0;
        list-style-type: none;
        ul, ol {
            list-style-type: none;
            padding-left: 1em;
        }
    }
    &.atk-list-inline {
        li {
            display: inline;
            margin: 0;
            padding: 0;
        }
    }
    &.atk-list-nospacing {
        &, ul, ol {
            padding-left: 1em;
        }
    }
}


// ==========================================================
// Other elements
// ==========================================================

a {
    text-decoration: none;
}
p {
    margin: 0 0 @margin 0;
}
blockquote {
    &:extend([class*="atk-text"][class*="-size--l"]);
    font-style: italic;
    font-weight: 300;
    margin: 0 @margin @margin;
}
mark {
    background: blue;
    color: red;
    line-height: @bodySize;
}
del {
    color: red;
}
code, kbd, pre, samp {
    cursor: text;
    line-height: @bodyBaseline;
}
pre {
    font-family: monospace, serif;
    &:extend([class*="atk-text"][class*="-size--s"]);
    white-space: pre-wrap;
    word-wrap: break-word;
}
hr {
    background: none;
    border-width: 1px 0 0 0 !important;
    border-style: solid;
    clear: both;
    height: 0;
    margin: @space 0;
    width: 100%;
}
