// ==========================================================
// General
// ==========================================================

@cornerRadius:         5px;

@dialogBlur:           10px; // Blur effect for modal dialog's overlay
@dialogOverlay:        fade(#000, 15%); // Color of modal dialog's overlay


// ==========================================================
// Layout
// ==========================================================

@windowMinWidth:       960px; // Should be equal or greater than @siteMinWidth
@siteMinWidth:         800px; // Side paddings are dropped if value is in percentages
@siteMaxWidth:         1600px; // Put the same value as in @siteMinWidth if fixed layout is required


// ==========================================================
// Typography
// ==========================================================

@bodyFamily:           "Helvetica Neue", "Helvetica", @jui-ffDefault;
@bodyColor:            #000;
@bodySize:             0.875rem; // 14px
@bodyBaseline:         1.618; // Golden Section

@headingColor:         #000;
@headingFamily:        "Helvetica Neue", "Helvetica", @jui-ffDefault;
@headingWeight:		   400;
@headingBaseline:	   1.2; // Minor Third

@fontScatter:          0.5; // Multiplier that affects difference between heading sizes


// ==========================================================
// Colors
// ==========================================================

@bodyBackground:       #fff;

@linkColor:            darken(@atk-swatch-blue,10%);
@linkColorHover:       darken(@linkColor,10%);

@textSelect:           @atk-swatch-ink; // Text selection's color
@textDimmed:           40%;

@borderStatic:         #e1e1e1;
@borderClickable:      darken(@borderStatic, 10%);
@borderOverlay:        darken(@borderStatic, 25%);

@formMandatory:        #ff0000;

@colorFocus:           @atk-swatch-blue; // (!)
@colorLight:           #fff; // (!)
@colorDark:            #000; // (!)

@stateDefault:         #fff;
@stateHover:           #f5f5f5;
@stateActive:          #eee;

@atk-swatch-white:	   #ffffff;		.createSwatch(atk-swatch-white);
@atk-swatch-gray:	   #f5f6f7;		.createSwatch(atk-swatch-gray);
@atk-swatch-ink:       #1c2933;		.createSwatch(atk-swatch-ink);
@atk-swatch-yellow:	   #ffcc00;		.createSwatch(atk-swatch-yellow);
@atk-swatch-red:	   #f9451f;		.createSwatch(atk-swatch-red);
@atk-swatch-green:     #00cc66;		.createSwatch(atk-swatch-green);
@atk-swatch-blue:      #0095ff;		.createSwatch(atk-swatch-blue);
@swatchText:           65%; // Text color sensitivity based on swatch

@effectSuccess:        #25c425;
@effectWarning:        #f7a600;
@effectDanger:         #ff2d1a;
@effectInfo:           #6cc199;


// (!) — Need to check if it can be simplified.