// ==========================================================
// Widgets
// ==========================================================

// Menu
.atk-menu {
    display: inline-block;
    &, li {
        .clear-ul;
    }
    >li {
        // margin-left: 1px;
        a {
            display: block;
            font-weight: bold;
            // padding: 0.6em 1.2em;
        }
        + li a {
            margin: 0 0 0 2em;
        }
        &:first-child a:not(.atk-button) {
            .border-radius(@cornerRadius 0 0 @cornerRadius);
            // margin: 0;
        }
        &:last-child a:not(.atk-button) {
            .border-radius(0 @cornerRadius @cornerRadius 0);
        }
    }
    &.atk-menu-horizontal {
        display: table;
        >li {
            display: table-cell;
        }
    }
    &.atk-menu-horizontal-justified {
        .flex;
        >li {
            .box-flex(1);
            text-align: center;
            margin-left: 1px;
        }
    }
}

// Popover
.atk-popover.ui-dialog {
    border-color: @borderStatic;
    border-radius: @cornerRadius;
    box-shadow: 0 5px 10px fade(black,30%);
    >.ui-dialog-titlebar {
        display: none;
    }
    >.ui-dialog-content {
        background: #fff;
        border-radius: @cornerRadius;
        padding: @margin/2;
        z-index: 2;
    }
    .atk-arrow.top {
        .position(@b:100%,@l:@margin/2);
        width: 12px;
        height: 6px;
        z-index: 1 !important;
        overflow: hidden;
        &:after {
            .rotate(45deg);
            background: #fff;
            border: 1px solid @borderStatic;
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            position: relative;
            top: 2px;
        }
    }
}

 // Growl 
.atk-growl {
    font-weight:bold;
    position:fixed;
    top:@margin*2;
    right:@margin*2;
    z-index:9999;
    .opacity(80);
    >div {
        width:180px;
        margin-top:@margin;
        position:relative;
        &:first-child {margin-top:0;}
        .ui-icon-closethick {.opacity(0);@transition: opacity .2s;.transition(@transition);}
        &:hover {.ui-icon-closethick {.opacity(100);}}
    }
}

// Table
.atk-table {
    table {
        width: 100%;
        th, td {
            background: #fff;
            color: @bodyColor;
            padding: @margin/4 @margin/2;
            text-align: left;
        }
        tbody tr td {
            border-top: 1px solid @borderStatic;
        }
    }
    >*[class*=atk-box] {
        &:first-child {
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin-bottom: 0;
        }
        &:last-child {
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    &.atk-table-zebra {
        tbody tr:nth-child(2n) td {
            background: lighten(@borderStatic, 9%);
        }
    }
    &.atk-table-bordered {
        th, td {
            border: 1px solid @borderStatic;
        }
    }
}

// Pagination
.atk-pagination {
    .clear-font;
    >a {
        font-size: @bodySize;
        *[class*=icon] {
            .position(relative, @r:-@margin/4);
            margin-left: -@margin/2;
        }
        &:first-child {
            .border-radius(@cornerRadius 0 0 @cornerRadius);
            border-right-color: @borderStatic;
        }
        &:last-child {
            .border-radius(0 @cornerRadius @cornerRadius 0); 
            border-left-color: @borderClickable;
            border-right-color: @borderClickable;
        }
        + a {
            border-left-width: 0;
            border-right-color: @borderStatic;
        }
    }
}

// Dialog
.atk-dialog {
    .ui-dialog-content {
        // margin-bottom: @margin;
    }
    .atk-dialog-buttons {
        margin: 0 0 -@margin -@margin;
        table-layout: fixed;
        .atk-cell {
            .atk-button {
                .border-radius(0);
                box-shadow: none;
                border-width: 1px 1px 0 0;
                text-align: center;
                width: 100%;
            }
            + .atk-cell .atk-button {
                border-right: none;
            }
        }
    }
}