doctype html
<!--[if lt IE 7]<html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(class='no-js')
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    <!--[if IE]><!-->
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport",content="width=device-width, initial-scale=1")
    <!--<![endif]-->
    title Agile Toolkit CSS
    meta(name='description', content='')
    link(rel='stylesheet', href='../css/theme-example-login.css')
    script(src='../js/atk-helpers-min.js')
  body
    include ../includes/browsehappy
    include ../includes/analytics
    .atk-layout
      .atk-layout-row.atk-layout-expand
        .atk-layout.atk-layout-cell#atk-layout-content
          .atk-layout-column.atk-layout-expand.atk-valign-middle
            .atk-wrapper.atk-padding-small
              .atk-box
                .atk-push.atk-align-center
                  a.atk-text-reset.atk-push.atk-block(href='javascript:void(0)')
                    img(src='../images/logo-gray.svg', title='Agile Toolkit', width='96')
                  form
                    .atk-push-xsmall
                      input(type='text',class='atk-jackscrew', placeholder='Username')
                    .atk-push-xsmall
                      input(type='password',class='atk-jackscrew', placeholder='Password')
                    .atk-actions
                      button.atk-button.atk-jackscrew.atk-swatch-green Sign In
                hr
                .atk-push-small
                  a.atk-button.atk-jackscrew.atk-align-center.atk-swatch-facebook(href='#')
                    span.icon-facebook
                    | &nbsp;Sign in with Facebook
                a.atk-button.atk-jackscrew.atk-align-center.atk-swatch-twitter(href='#')
                  span.icon-twitter
                  | &nbsp;Sign in with Twitter
              .atk-align-center
                a.atk-text-dimmed(href='#') Don't have an acccount?

