extend ../includes/section

block link
  -var selected = 'Icons';

block content
  h1.atk-push-reset Icons
  hr
  p.atk-size-kilo  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor suscipit blanditiis architecto eligendi perspiciatis totam ipsa qui reiciendis illo voluptate ea, vero, eum nostrum voluptas, amet dignissimos. Aspernatur, similique.
  include ../includes/fontello