extend ../includes/section

block link
  -var selected = 'Swatches';

block content
  h1.atk-push-reset Swatches Test
  hr
  .atk-row
    .atk-col-4
      .atk-box.atk-swatch-gray1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi laudantium corporis quos quas, praesentium et, consequuntur, quasi est repellat inventore earum accusantium recusandae voluptatum eius sapiente asperiores ad magnam debitis?
    .atk-col-4
      .atk-box.atk-swatch-gray2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi laudantium corporis quos quas, praesentium et, consequuntur, quasi est repellat inventore earum accusantium recusandae voluptatum eius sapiente asperiores ad magnam debitis?
    .atk-col-4
      .atk-box.atk-swatch-gray3  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi laudantium corporis quos quas, praesentium et, consequuntur, quasi est repellat inventore earum accusantium recusandae voluptatum eius sapiente asperiores ad magnam debitis?
    .atk-col-4
      .atk-box.atk-swatch-gray4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi laudantium corporis quos quas, praesentium et, consequuntur, quasi est repellat inventore earum accusantium recusandae voluptatum eius sapiente asperiores ad magnam debitis?
    .atk-col-4
      .atk-box.atk-swatch-gray5  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi laudantium corporis quos quas, praesentium et, consequuntur, quasi est repellat inventore earum accusantium recusandae voluptatum eius sapiente asperiores ad magnam debitis?
    .atk-col-4
      .atk-box.atk-swatch-gray6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi laudantium corporis quos quas, praesentium et, consequuntur, quasi est repellat inventore earum accusantium recusandae voluptatum eius sapiente asperiores ad magnam debitis?
    .atk-col-4
      .atk-box.atk-swatch-gray7  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi laudantium corporis quos quas, praesentium et, consequuntur, quasi est repellat inventore earum accusantium recusandae voluptatum eius sapiente asperiores ad magnam debitis?
    .atk-col-4
      .atk-box.atk-swatch-gray8  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi laudantium corporis quos quas, praesentium et, consequuntur, quasi est repellat inventore earum accusantium recusandae voluptatum eius sapiente asperiores ad magnam debitis?
    .atk-col-4
      .atk-box.atk-swatch-gray9  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi laudantium corporis quos quas, praesentium et, consequuntur, quasi est repellat inventore earum accusantium recusandae voluptatum eius sapiente asperiores ad magnam debitis?
