doctype html
<!--[if lt IE 7]<html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(class='no-js')
	<!--<![endif]-->
	head
		meta(charset='utf-8')
		<!--[if IE]><!-->
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		<!--<![endif]-->
		title Agile Toolkit CSS
		meta(name='description', content='')
		link(rel='stylesheet', href='../css/theme-centered.css')
		script(src='../js/atk-helpers-min.js')
	body
		include ../includes/browsehappy
		include ../includes/analytics
		.atk-layout
			.atk-layout-row.atk-layout-expand
				.atk-layout.atk-layout-cell#atk-layout-content
					.atk-layout-column.atk-layout-expand.atk-valign-middle
						.atk-wrapper
							.atk-box-large
								h2 Box with content
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, harum, atque culpa quibusdam praesentium ad optio eveniet iusto veritatis laboriosam delectus obcaecati earum recusandae a eos enim magni aliquid distinctio.
