doctype html
<!--[if lt IE 7]<html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(class='no-js')
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    <!--[if IE]><!-->
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    <!--<![endif]-->
    title Agile Toolkit CSS
    meta(name='description', content='')
    link(rel='stylesheet', href='../css/theme-fluid.css')
    script(src='../js/atk-helpers-min.js')
  body
    include ../includes/browsehappy
    include ../includes/analytics
    .atk-layout
      .atk-layout-row
        .atk-layout-cell.atk-swatch-ink
          .atk-wrapper.atk-padding-small
            h2 Header Area
      .atk-layout-row.atk-layout-expand
        .atk-layout.atk-layout-cell#atk-layout-content
          .atk-layout-column.atk-swatch-gray.atk-col-3
            .atk-padding
              h2 Left Sidebar
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget justo eget nisl mattis posuere eu ut neque. Aenean congue mollis est, ac viverra mauris bibendum et. Donec facilisis quam id semper accumsan. Curabitur nibh dui, lobortis nec elit et, sagittis sollicitudin magna.
          .atk-layout-column.atk-layout-expand
            .atk-wrapper.atk-padding-large
              h2 Content Area
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, iure temporibus quaerat delectus dignissimos incidunt laboriosam repellat ad. Qui incidunt distinctio soluta architecto esse perspiciatis aspernatur ducimus placeat modi magni.
              p
                | Morbi in mollis massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar adipiscing augue a vehicula. Cras nec quam lectus. Nulla vestibulum lacus non adipiscing viverra. Cras semper leo at metus iaculis venenatis. Morbi mollis augue nunc, ut aliquam est euismod feugiat.
          .atk-layout-column.atk-swatch-gray.atk-col-3
            .atk-padding
              h2 Right Sidebar
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget justo eget nisl mattis posuere eu ut neque. Aenean congue mollis est, ac viverra mauris bibendum et. Donec facilisis quam id semper accumsan. Curabitur nibh dui, lobortis nec elit et, sagittis sollicitudin magna.
      .atk-layout-row
        .atk-layout-cell.atk-swatch-ink
          .atk-wrapper.atk-padding
            h2 Footer Area
