doctype html
<!--[if lt IE 7]<html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(class='no-js')
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    <!--[if IE]><!-->
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    <!--[endif]-->
    title Agile Toolkit CSS
    meta(name='description', content='')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='../css/style-fixed.css')
  body.atk-responsive-test
    include ../includes/browsehappy
    include ../includes/analytics
    div.atk-layout
      div.atk-layout-row
        div.atk-layout-cell.atk-swatch-ink.atk-section
          div.atk-wrapper
            h2 Header Section
      div.atk-layout-row.atk-layout-fluid
        div.atk-layout.atk-layout-cell
          div.atk-layout-column.atk-jackscrew.atk-section
            .atk-wrapper
              h2 AgileToolkit CSS Grid System
              .atk-row.atk-push
                .atk-col-1
                  .atk-box-small 1
                .atk-col-2
                  .atk-box-small 2
                .atk-col-1
                  .atk-box-small 1
                .atk-col-2
                  .atk-box-small 2
                .atk-col-1
                  .atk-box-small 1
                .atk-col-2
                  .atk-box-small 2
                .atk-col-1
                  .atk-box-small 1
                .atk-col-2
                  .atk-box-small 2
              .atk-row.atk-push
                .atk-col-3
                  .atk-box-small 3
                .atk-col-3
                  .atk-box-small 3
                .atk-col-3
                  .atk-box-small 3
                .atk-col-3
                  .atk-box-small 3
              .atk-row.atk-push
                .atk-col-4
                  .atk-box-small 4
                .atk-col-4
                  .atk-box-small 4
                .atk-col-4
                  .atk-box-small 4
              .atk-row.atk-push
                .atk-col-5
                  .atk-box-small 5
                .atk-col-7
                  .atk-box-small 7
              .atk-row.atk-push
                .atk-col-6
                  .atk-box-small 6
                .atk-col-6
                  .atk-box-small 6
              .atk-row.atk-push
                .atk-col-12
                  .atk-box-small 12
              .atk-row
                .atk-col-8.atk-push
                  .atk-box.atk-swatch-blue
                    h2 Content Section
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, iure temporibus quaerat delectus dignissimos incidunt laboriosam repellat ad. Qui incidunt distinctio soluta architecto esse perspiciatis aspernatur ducimus placeat modi magni.
                    p
                      | Morbi in mollis massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar adipiscing augue a vehicula. Cras nec quam lectus. Nulla vestibulum lacus non adipiscing viverra. Cras semper leo at metus iaculis venenatis. Morbi mollis augue nunc, ut aliquam est euismod feugiat.
                    p
                      | Vestibulum volutpat nec augue quis pretium. Etiam ullamcorper, est eget ultricies fermentum, libero nibh lobortis erat, eu ullamcorper leo lacus eget augue. Mauris ac erat placerat, volutpat lorem consequat, pulvinar sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Nulla imperdiet laoreet augue pretium posuere.
                    p
                      | Vestibulum volutpat nec augue quis pretium. Etiam ullamcorper, est eget ultricies fermentum, libero nibh lobortis erat, eu ullamcorper leo lacus eget augue. Mauris ac erat placerat, volutpat lorem consequat, pulvinar sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Nulla imperdiet laoreet augue pretium posuere.
                .atk-col-4.atk-push
                  .atk-box.atk-swatch-green
                    h2 aside
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget justo eget nisl mattis posuere eu ut neque. Aenean congue mollis est, ac viverra mauris bibendum et. Donec facilisis quam id semper accumsan. Curabitur nibh dui, lobortis nec elit et, sagittis sollicitudin magna. Fusce id interdum est. Donec tempor dignissim interdum. Nulla eu dignissim risus.
              .atk-row.atk-push
                .atk-col-1
                  .atk-box-small 1
                .atk-col-2
                  .atk-box-small 2
                .atk-col-1
                  .atk-box-small 1
                .atk-col-2
                  .atk-box-small 2
                .atk-col-1
                  .atk-box-small 1
                .atk-col-2
                  .atk-box-small 2
                .atk-col-1
                  .atk-box-small 1
                .atk-col-2
                  .atk-box-small 2
      div.atk-layout-row
        div.atk-layout-cell
          hr.atk-hr-reset
          div.atk-wrapper.atk-section
            | Footer
