.atk-cells.atk-cells-gutter-small
  .atk-cell
    .the-icons(title='Code: 59941, entypo')
        i.icon-address
        span.i-name address
        span.i-code 59941
    .the-icons(title='Code: 59979, entypo')
        i.icon-adjust
        span.i-name adjust
        span.i-code 59979
    .the-icons(title='Code: 59650, fontawesome')
        i.icon-adn
        span.i-name adn
        span.i-code 59650
    .the-icons(title='Code: 59858, entypo')
        i.icon-air
        span.i-name air
        span.i-code 59858
    .the-icons(title='Code: 59584, fontawesome')
        i.icon-ajust
        span.i-name ajust
        span.i-code 59584
    .the-icons(title='Code: 59939, entypo')
        i.icon-alert
        span.i-name alert
        span.i-code 59939
    .the-icons(title='Code: 59557, fontawesome')
        i.icon-align-center
        span.i-name align-center
        span.i-code 59557
    .the-icons(title='Code: 59559, fontawesome')
        i.icon-align-justify
        span.i-name align-justify
        span.i-code 59559
    .the-icons(title='Code: 59556, fontawesome')
        i.icon-align-left
        span.i-name align-left
        span.i-code 59556
    .the-icons(title='Code: 59558, fontawesome')
        i.icon-align-right
        span.i-name align-right
        span.i-code 59558
    .the-icons(title='Code: 59635, fontawesome')
        i.icon-ambulance
        span.i-name ambulance
        span.i-code 59635
    .the-icons(title='Code: 59643, fontawesome')
        i.icon-anchor
        span.i-name anchor
        span.i-code 59643
    .the-icons(title='Code: 59651, fontawesome')
        i.icon-android
        span.i-name android
        span.i-code 59651
    .the-icons(title='Code: 59725, fontawesome')
        i.icon-angle-circled-down
        span.i-name angle-circled-down
        span.i-code 59725
    .the-icons(title='Code: 59722, fontawesome')
        i.icon-angle-circled-left
        span.i-name angle-circled-left
        span.i-code 59722
    .the-icons(title='Code: 59723, fontawesome')
        i.icon-angle-circled-right
        span.i-name angle-circled-right
        span.i-code 59723
    .the-icons(title='Code: 59724, fontawesome')
        i.icon-angle-circled-up
        span.i-name angle-circled-up
        span.i-code 59724
    .the-icons(title='Code: 59729, fontawesome')
        i.icon-angle-double-down
        span.i-name angle-double-down
        span.i-code 59729
    .the-icons(title='Code: 59726, fontawesome')
        i.icon-angle-double-left
        span.i-name angle-double-left
        span.i-code 59726
    .the-icons(title='Code: 59727, fontawesome')
        i.icon-angle-double-right
        span.i-name angle-double-right
        span.i-code 59727
    .the-icons(title='Code: 59728, fontawesome')
        i.icon-angle-double-up
        span.i-name angle-double-up
        span.i-code 59728
    .the-icons(title='Code: 59515, fontawesome')
        i.icon-angle-down
        span.i-name angle-down
        span.i-code 59515
    .the-icons(title='Code: 59512, fontawesome')
        i.icon-angle-left
        span.i-name angle-left
        span.i-code 59512
    .the-icons(title='Code: 59513, fontawesome')
        i.icon-angle-right
        span.i-name angle-right
        span.i-code 59513
    .the-icons(title='Code: 59514, fontawesome')
        i.icon-angle-up
        span.i-name angle-up
        span.i-code 59514
    .the-icons(title='Code: 59652, fontawesome')
        i.icon-apple
        span.i-name apple
        span.i-code 59652
    .the-icons(title='Code: 59957, entypo')
        i.icon-archive
        span.i-name archive
        span.i-code 59957
    .the-icons(title='Code: 59986, entypo')
        i.icon-arrow-combo
        span.i-name arrow-combo
        span.i-code 59986
    .the-icons(title='Code: 60021, entypo')
        i.icon-arrows-ccw
        span.i-name arrows-ccw
        span.i-code 60021
    .the-icons(title='Code: 59736, fontawesome')
        i.icon-arrows-cw
        span.i-name arrows-cw
        span.i-code 59736
    .the-icons(title='Code: 59590, fontawesome')
        i.icon-asterisk
        span.i-name asterisk
        span.i-code 59590
    .the-icons(title='Code: 60042, custom_icons')
        i.icon-atkcog
        span.i-name atkcog
        span.i-code 60042
    .the-icons(title='Code: 59442, fontawesome')
        i.icon-attach
        span.i-name attach
        span.i-code 59442
    .the-icons(title='Code: 59787, entypo')
        i.icon-attach-1
        span.i-name attach-1
        span.i-code 59787
    .the-icons(title='Code: 59485, fontawesome')
        i.icon-attention
        span.i-name attention
        span.i-code 59485
    .the-icons(title='Code: 59938, entypo')
        i.icon-attention-1
        span.i-name attention-1
        span.i-code 59938
    .the-icons(title='Code: 59484, fontawesome')
        i.icon-attention-alt
        span.i-name attention-alt
        span.i-code 59484
    .the-icons(title='Code: 59486, fontawesome')
        i.icon-attention-circled
        span.i-name attention-circled
        span.i-code 59486
    .the-icons(title='Code: 59536, fontawesome')
        i.icon-award
        span.i-name award
        span.i-code 59536
    .the-icons(title='Code: 59784, entypo')
        i.icon-back
        span.i-name back
        span.i-code 59784
    .the-icons(title='Code: 59822, entypo')
        i.icon-back-in-time
        span.i-name back-in-time
        span.i-code 59822
    .the-icons(title='Code: 59966, entypo')
        i.icon-bag
        span.i-name bag
        span.i-code 59966
    .the-icons(title='Code: 59582, fontawesome')
        i.icon-barcode
        span.i-name barcode
        span.i-code 59582
    .the-icons(title='Code: 59710, fontawesome')
        i.icon-basket
        span.i-name basket
        span.i-code 59710
    .the-icons(title='Code: 59965, entypo')
        i.icon-basket-1
        span.i-name basket-1
        span.i-code 59965
    .the-icons(title='Code: 59821, entypo')
        i.icon-battery
        span.i-name battery
        span.i-code 59821
    .the-icons(title='Code: 59605, fontawesome')
        i.icon-beaker
        span.i-name beaker
        span.i-code 59605
    .the-icons(title='Code: 59632, fontawesome')
        i.icon-beer
        span.i-name beer
        span.i-code 59632
    .the-icons(title='Code: 59929, entypo')
        i.icon-behance
        span.i-name behance
        span.i-code 59929
    .the-icons(title='Code: 59482, fontawesome')
        i.icon-bell
        span.i-name bell
        span.i-code 59482
    .the-icons(title='Code: 59937, entypo')
        i.icon-bell-1
        span.i-name bell-1
        span.i-code 59937
    .the-icons(title='Code: 59483, fontawesome')
        i.icon-bell-alt
        span.i-name bell-alt
        span.i-code 59483
    .the-icons(title='Code: 59653, fontawesome')
        i.icon-bitbucket
        span.i-name bitbucket
        span.i-code 59653
    .the-icons(title='Code: 59654, fontawesome')
        i.icon-bitbucket-squared
        span.i-name bitbucket-squared
        span.i-code 59654
    .the-icons(title='Code: 59616, fontawesome')
        i.icon-bitcoin
        span.i-name bitcoin
        span.i-code 59616
    .the-icons(title='Code: 59692, fontawesome')
        i.icon-blank
        span.i-name blank
        span.i-code 59692
    .the-icons(title='Code: 59747, fontawesome')
        i.icon-block
        span.i-name block
        span.i-code 59747
    .the-icons(title='Code: 59980, entypo')
        i.icon-block-1
        span.i-name block-1
        span.i-code 59980
    .the-icons(title='Code: 59552, fontawesome')
        i.icon-bold
        span.i-name bold
        span.i-code 59552
    .the-icons(title='Code: 59583, fontawesome')
        i.icon-book
        span.i-name book
        span.i-code 59583
    .the-icons(title='Code: 59955, entypo')
        i.icon-book-1
        span.i-name book-1
        span.i-code 59955
    .the-icons(title='Code: 59954, entypo')
        i.icon-book-open
        span.i-name book-open
        span.i-code 59954
    .the-icons(title='Code: 59450, fontawesome')
        i.icon-bookmark
        span.i-name bookmark
        span.i-code 59450
    .the-icons(title='Code: 59792, entypo')
        i.icon-bookmark-1
        span.i-name bookmark-1
        span.i-code 59792
    .the-icons(title='Code: 59451, fontawesome')
        i.icon-bookmark-empty
        span.i-name bookmark-empty
        span.i-code 59451
    .the-icons(title='Code: 59793, entypo')
        i.icon-bookmarks
        span.i-name bookmarks
        span.i-code 59793
    .the-icons(title='Code: 59501, fontawesome')
        i.icon-box
        span.i-name box
        span.i-code 59501
    .the-icons(title='Code: 59958, entypo')
        i.icon-box-1
        span.i-name box-1
        span.i-code 59958
    .the-icons(title='Code: 59574, fontawesome')
        i.icon-briefcase
        span.i-name briefcase
        span.i-code 59574
    .the-icons(title='Code: 59839, entypo')
        i.icon-briefcase-1
        span.i-name briefcase-1
        span.i-code 59839
    .the-icons(title='Code: 59844, entypo')
        i.icon-brush
        span.i-name brush
        span.i-code 59844
    .the-icons(title='Code: 59865, entypo')
        i.icon-bucket
        span.i-name bucket
        span.i-code 59865
    .the-icons(title='Code: 59400, fontawesome')
        i.icon-bug
        span.i-name bug
        span.i-code 59400
    .the-icons(title='Code: 59639, fontawesome')
        i.icon-building
        span.i-name building
        span.i-code 59639
    .the-icons(title='Code: 59649, fontawesome')
        i.icon-bullseye
        span.i-name bullseye
        span.i-code 59649
    .the-icons(title='Code: 59711, fontawesome')
        i.icon-calendar
        span.i-name calendar
        span.i-code 59711
    .the-icons(title='Code: 59967, entypo')
        i.icon-calendar-1
        span.i-name calendar-1
        span.i-code 59967
    .the-icons(title='Code: 59712, fontawesome')
        i.icon-calendar-empty
        span.i-name calendar-empty
        span.i-code 59712
    .the-icons(title='Code: 59412, fontawesome')
        i.icon-camera
        span.i-name camera
        span.i-code 59412
    .the-icons(title='Code: 59767, entypo')
        i.icon-camera-1
        span.i-name camera-1
        span.i-code 59767
    .the-icons(title='Code: 59413, fontawesome')
        i.icon-camera-alt
        span.i-name camera-alt
        span.i-code 59413
    .the-icons(title='Code: 59421, fontawesome')
        i.icon-cancel
        span.i-name cancel
        span.i-code 59421
    .the-icons(title='Code: 59771, entypo')
        i.icon-cancel-1
        span.i-name cancel-1
        span.i-code 59771
    .the-icons(title='Code: 59422, fontawesome')
        i.icon-cancel-circled
        span.i-name cancel-circled
        span.i-code 59422
    .the-icons(title='Code: 59772, entypo')
        i.icon-cancel-circled-1
        span.i-name cancel-circled-1
        span.i-code 59772
    .the-icons(title='Code: 59423, fontawesome')
        i.icon-cancel-circled2
        span.i-name cancel-circled2
        span.i-code 59423
    .the-icons(title='Code: 59773, entypo')
        i.icon-cancel-squared
        span.i-name cancel-squared
        span.i-code 59773
    .the-icons(title='Code: 59876, entypo')
        i.icon-cc
        span.i-name cc
        span.i-code 59876
    .the-icons(title='Code: 59877, entypo')
        i.icon-cc-by
        span.i-name cc-by
        span.i-code 59877
    .the-icons(title='Code: 59878, entypo')
        i.icon-cc-nc
        span.i-name cc-nc
        span.i-code 59878
    .the-icons(title='Code: 59879, entypo')
        i.icon-cc-nc-eu
        span.i-name cc-nc-eu
        span.i-code 59879
    .the-icons(title='Code: 59880, entypo')
        i.icon-cc-nc-jp
        span.i-name cc-nc-jp
        span.i-code 59880
    .the-icons(title='Code: 59882, entypo')
        i.icon-cc-nd
        span.i-name cc-nd
        span.i-code 59882
    .the-icons(title='Code: 59883, entypo')
        i.icon-cc-pd
        span.i-name cc-pd
        span.i-code 59883
    .the-icons(title='Code: 59886, entypo')
        i.icon-cc-remix
        span.i-name cc-remix
        span.i-code 59886
    .the-icons(title='Code: 59881, entypo')
        i.icon-cc-sa
        span.i-name cc-sa
        span.i-code 59881
    .the-icons(title='Code: 59885, entypo')
        i.icon-cc-share
        span.i-name cc-share
        span.i-code 59885
    .the-icons(title='Code: 59884, entypo')
        i.icon-cc-zero
        span.i-name cc-zero
        span.i-code 59884
    .the-icons(title='Code: 59735, fontawesome')
        i.icon-ccw
        span.i-name ccw
        span.i-code 59735
    .the-icons(title='Code: 60019, entypo')
        i.icon-ccw-1
        span.i-name ccw-1
        span.i-code 60019
    .the-icons(title='Code: 59826, entypo')
        i.icon-cd
        span.i-name cd
        span.i-code 59826
    .the-icons(title='Code: 59602, fontawesome')
        i.icon-certificate
        span.i-name certificate
        span.i-code 59602
    .the-icons(title='Code: 59851, entypo')
        i.icon-chart-area
        span.i-name chart-area
        span.i-code 59851
    .the-icons(title='Code: 59594, fontawesome')
        i.icon-chart-bar
        span.i-name chart-bar
        span.i-code 59594
    .the-icons(title='Code: 59850, entypo')
        i.icon-chart-bar-1
        span.i-name chart-bar-1
        span.i-code 59850
    .the-icons(title='Code: 59849, entypo')
        i.icon-chart-line
        span.i-name chart-line
        span.i-code 59849
    .the-icons(title='Code: 59848, entypo')
        i.icon-chart-pie
        span.i-name chart-pie
        span.i-code 59848
    .the-icons(title='Code: 59479, fontawesome')
        i.icon-chat
        span.i-name chat
        span.i-code 59479
    .the-icons(title='Code: 59936, entypo')
        i.icon-chat-1
        span.i-name chat-1
        span.i-code 59936
    .the-icons(title='Code: 59481, fontawesome')
        i.icon-chat-empty
        span.i-name chat-empty
        span.i-code 59481
    .the-icons(title='Code: 59586, fontawesome')
        i.icon-check
        span.i-name check
        span.i-code 59586
    .the-icons(title='Code: 59770, entypo')
        i.icon-check-1
        span.i-name check-1
        span.i-code 59770
    .the-icons(title='Code: 59587, fontawesome')
        i.icon-check-empty
        span.i-name check-empty
        span.i-code 59587
    .the-icons(title='Code: 59588, fontawesome')
        i.icon-circle
        span.i-name circle
        span.i-code 59588
    .the-icons(title='Code: 59589, fontawesome')
        i.icon-circle-empty
        span.i-name circle-empty
        span.i-code 59589
    .the-icons(title='Code: 59861, entypo')
        i.icon-clipboard
        span.i-name clipboard
        span.i-code 59861
    .the-icons(title='Code: 59745, fontawesome')
        i.icon-clock
        span.i-name clock
        span.i-code 59745
    .the-icons(title='Code: 59974, entypo')
        i.icon-clock-1
        span.i-name clock-1
        span.i-code 59974
    .the-icons(title='Code: 59544, fontawesome')
        i.icon-cloud
        span.i-name cloud
        span.i-code 59544
    .the-icons(title='Code: 59830, entypo')
        i.icon-cloud-1
        span.i-name cloud-1
        span.i-code 59830
    .the-icons(title='Code: 59831, entypo')
        i.icon-cloud-thunder
        span.i-name cloud-thunder
        span.i-code 59831
    .the-icons(title='Code: 59468, fontawesome')
        i.icon-code
        span.i-name code
        span.i-code 59468
    .the-icons(title='Code: 59804, entypo')
        i.icon-code-1
        span.i-name code-1
        span.i-code 59804
    .the-icons(title='Code: 59630, fontawesome')
        i.icon-coffee
        span.i-name coffee
        span.i-code 59630
    .the-icons(title='Code: 59707, fontawesome')
        i.icon-cog
        span.i-name cog
        span.i-code 59707
    .the-icons(title='Code: 59961, entypo')
        i.icon-cog-1
        span.i-name cog-1
        span.i-code 59961
    .the-icons(title='Code: 59708, fontawesome')
        i.icon-cog-alt
        span.i-name cog-alt
        span.i-code 59708
    .the-icons(title='Code: 59697, fontawesome')
        i.icon-collapse
        span.i-name collapse
        span.i-code 59697
    .the-icons(title='Code: 59698, fontawesome')
        i.icon-collapse-top
        span.i-name collapse-top
        span.i-code 59698
    .the-icons(title='Code: 59570, fontawesome')
        i.icon-columns
        span.i-name columns
        span.i-code 59570
    .the-icons(title='Code: 59478, fontawesome')
        i.icon-comment
        span.i-name comment
        span.i-code 59478
    .the-icons(title='Code: 59811, entypo')
        i.icon-comment-1
        span.i-name comment-1
        span.i-code 59811
    .the-icons(title='Code: 59480, fontawesome')
        i.icon-comment-empty
        span.i-name comment-empty
        span.i-code 59480
    .the-icons(title='Code: 59489, fontawesome')
        i.icon-compass
        span.i-name compass
        span.i-code 59489
    .the-icons(title='Code: 59945, entypo')
        i.icon-compass-1
        span.i-name compass-1
        span.i-code 59945
    .the-icons(title='Code: 59596, fontawesome')
        i.icon-credit-card
        span.i-name credit-card
        span.i-code 59596
    .the-icons(title='Code: 59859, entypo')
        i.icon-credit-card-1
        span.i-name credit-card-1
        span.i-code 59859
    .the-icons(title='Code: 59571, fontawesome')
        i.icon-crop
        span.i-name crop
        span.i-code 59571
    .the-icons(title='Code: 59655, fontawesome')
        i.icon-css3
        span.i-name css3
        span.i-code 59655
    .the-icons(title='Code: 59946, entypo')
        i.icon-cup
        span.i-name cup
        span.i-code 59946
    .the-icons(title='Code: 59734, fontawesome')
        i.icon-cw
        span.i-name cw
        span.i-code 59734
    .the-icons(title='Code: 60020, entypo')
        i.icon-cw-1
        span.i-name cw-1
        span.i-code 60020
    .the-icons(title='Code: 59863, entypo')
        i.icon-database
        span.i-name database
        span.i-code 59863
    .the-icons(title='Code: 59934, entypo')
        i.icon-db-shape
        span.i-name db-shape
        span.i-code 59934
    .the-icons(title='Code: 59537, fontawesome')
        i.icon-desktop
        span.i-name desktop
        span.i-code 59537
    .the-icons(title='Code: 59488, fontawesome')
        i.icon-direction
        span.i-name direction
        span.i-code 59488
    .the-icons(title='Code: 59944, entypo')
        i.icon-direction-1
        span.i-name direction-1
        span.i-code 59944
    .the-icons(title='Code: 59491, fontawesome')
        i.icon-doc
        span.i-name doc
        span.i-code 59491
    .the-icons(title='Code: 59948, entypo')
        i.icon-doc-1
        span.i-name doc-1
        span.i-code 59948
    .the-icons(title='Code: 59494, fontawesome')
        i.icon-doc-inv
        span.i-name doc-inv
        span.i-code 59494
    .the-icons(title='Code: 59950, entypo')
        i.icon-doc-landscape
        span.i-name doc-landscape
        span.i-code 59950
    .the-icons(title='Code: 59493, fontawesome')
        i.icon-doc-text
        span.i-name doc-text
        span.i-code 59493
    .the-icons(title='Code: 59951, entypo')
        i.icon-doc-text-1
        span.i-name doc-text-1
        span.i-code 59951
    .the-icons(title='Code: 59495, fontawesome')
        i.icon-doc-text-inv
        span.i-name doc-text-inv
        span.i-code 59495
    .the-icons(title='Code: 59952, entypo')
        i.icon-doc-text-inv-1
        span.i-name doc-text-inv-1
        span.i-code 59952
    .the-icons(title='Code: 59492, fontawesome')
        i.icon-docs
        span.i-name docs
        span.i-code 59492
    .the-icons(title='Code: 59949, entypo')
        i.icon-docs-1
        span.i-name docs-1
        span.i-code 59949
    .the-icons(title='Code: 59611, fontawesome')
        i.icon-dollar
        span.i-name dollar
        span.i-code 59611
    .the-icons(title='Code: 59841, entypo')
        i.icon-dot
        span.i-name dot
        span.i-code 59841
    .the-icons(title='Code: 59842, entypo')
        i.icon-dot-2
        span.i-name dot-2
        span.i-code 59842
    .the-icons(title='Code: 59843, entypo')
        i.icon-dot-3
        span.i-name dot-3
        span.i-code 59843
    .the-icons(title='Code: 59516, fontawesome')
        i.icon-down
        span.i-name down
        span.i-code 59516
    .the-icons(title='Code: 60003, entypo')
        i.icon-down-1
        span.i-name down-1
        span.i-code 60003
  .atk-cell
    .the-icons(title='Code: 59520, fontawesome')
        i.icon-down-big
        span.i-name down-big
        span.i-code 59520
    .the-icons(title='Code: 60011, entypo')
        i.icon-down-bold
        span.i-name down-bold
        span.i-code 60011
    .the-icons(title='Code: 59733, fontawesome')
        i.icon-down-circled
        span.i-name down-circled
        span.i-code 59733
    .the-icons(title='Code: 59987, entypo')
        i.icon-down-circled-1
        span.i-name down-circled-1
        span.i-code 59987
    .the-icons(title='Code: 59720, fontawesome')
        i.icon-down-circled2
        span.i-name down-circled2
        span.i-code 59720
    .the-icons(title='Code: 59504, fontawesome')
        i.icon-down-dir
        span.i-name down-dir
        span.i-code 59504
    .the-icons(title='Code: 60007, entypo')
        i.icon-down-dir-1
        span.i-name down-dir-1
        span.i-code 60007
    .the-icons(title='Code: 59527, fontawesome')
        i.icon-down-hand-1
        span.i-name down-hand-1
        span.i-code 59527
    .the-icons(title='Code: 59508, fontawesome')
        i.icon-down-open
        span.i-name down-open
        span.i-code 59508
    .the-icons(title='Code: 59991, entypo')
        i.icon-down-open-1
        span.i-name down-open-1
        span.i-code 59991
    .the-icons(title='Code: 59999, entypo')
        i.icon-down-open-big
        span.i-name down-open-big
        span.i-code 59999
    .the-icons(title='Code: 59995, entypo')
        i.icon-down-open-mini
        span.i-name down-open-mini
        span.i-code 59995
    .the-icons(title='Code: 60015, entypo')
        i.icon-down-thin
        span.i-name down-thin
        span.i-code 60015
    .the-icons(title='Code: 59460, fontawesome')
        i.icon-download
        span.i-name download
        span.i-code 59460
    .the-icons(title='Code: 59797, entypo')
        i.icon-download-1
        span.i-name download-1
        span.i-code 59797
    .the-icons(title='Code: 59461, fontawesome')
        i.icon-download-cloud
        span.i-name download-cloud
        span.i-code 59461
    .the-icons(title='Code: 59656, fontawesome')
        i.icon-dribbble
        span.i-name dribbble
        span.i-code 59656
    .the-icons(title='Code: 59906, entypo')
        i.icon-dribbble-1
        span.i-name dribbble-1
        span.i-code 59906
    .the-icons(title='Code: 59907, entypo')
        i.icon-dribbble-circled
        span.i-name dribbble-circled
        span.i-code 59907
    .the-icons(title='Code: 59864, entypo')
        i.icon-drive
        span.i-name drive
        span.i-code 59864
    .the-icons(title='Code: 59657, fontawesome')
        i.icon-dropbox
        span.i-name dropbox
        span.i-code 59657
    .the-icons(title='Code: 59918, entypo')
        i.icon-dropbox-1
        span.i-name dropbox-1
        span.i-code 59918
    .the-icons(title='Code: 59857, entypo')
        i.icon-droplet
        span.i-name droplet
        span.i-code 59857
    .the-icons(title='Code: 59473, fontawesome')
        i.icon-edit
        span.i-name edit
        span.i-code 59473
    .the-icons(title='Code: 59533, fontawesome')
        i.icon-eject
        span.i-name eject
        span.i-code 59533
    .the-icons(title='Code: 59576, fontawesome')
        i.icon-ellipsis
        span.i-name ellipsis
        span.i-code 59576
    .the-icons(title='Code: 59577, fontawesome')
        i.icon-ellipsis-vert
        span.i-name ellipsis-vert
        span.i-code 59577
    .the-icons(title='Code: 59847, entypo')
        i.icon-erase
        span.i-name erase
        span.i-code 59847
    .the-icons(title='Code: 59645, fontawesome')
        i.icon-eraser
        span.i-name eraser
        span.i-code 59645
    .the-icons(title='Code: 59609, fontawesome')
        i.icon-euro
        span.i-name euro
        span.i-code 59609
    .the-icons(title='Code: 59919, entypo')
        i.icon-evernote
        span.i-name evernote
        span.i-code 59919
    .the-icons(title='Code: 59696, fontawesome')
        i.icon-exchange
        span.i-name exchange
        span.i-code 59696
    .the-icons(title='Code: 59699, fontawesome')
        i.icon-expand
        span.i-name expand
        span.i-code 59699
    .the-icons(title='Code: 59469, fontawesome')
        i.icon-export
        span.i-name export
        span.i-code 59469
    .the-icons(title='Code: 59805, entypo')
        i.icon-export-1
        span.i-name export-1
        span.i-code 59805
    .the-icons(title='Code: 59470, fontawesome')
        i.icon-export-alt
        span.i-name export-alt
        span.i-code 59470
    .the-icons(title='Code: 59648, fontawesome')
        i.icon-extinguisher
        span.i-name extinguisher
        span.i-code 59648
    .the-icons(title='Code: 59500, fontawesome')
        i.icon-eye
        span.i-name eye
        span.i-code 59500
    .the-icons(title='Code: 59790, entypo')
        i.icon-eye-1
        span.i-name eye-1
        span.i-code 59790
    .the-icons(title='Code: 59447, fontawesome')
        i.icon-eye-off
        span.i-name eye-off
        span.i-code 59447
    .the-icons(title='Code: 59658, fontawesome')
        i.icon-facebook
        span.i-name facebook
        span.i-code 59658
    .the-icons(title='Code: 59895, entypo')
        i.icon-facebook-1
        span.i-name facebook-1
        span.i-code 59895
    .the-icons(title='Code: 59896, entypo')
        i.icon-facebook-circled
        span.i-name facebook-circled
        span.i-code 59896
    .the-icons(title='Code: 59659, fontawesome')
        i.icon-facebook-squared
        span.i-name facebook-squared
        span.i-code 59659
    .the-icons(title='Code: 59897, entypo')
        i.icon-facebook-squared-1
        span.i-name facebook-squared-1
        span.i-code 59897
    .the-icons(title='Code: 60034, entypo')
        i.icon-fast-backward
        span.i-name fast-backward
        span.i-code 60034
    .the-icons(title='Code: 59532, fontawesome')
        i.icon-fast-bw
        span.i-name fast-bw
        span.i-code 59532
    .the-icons(title='Code: 60033, entypo')
        i.icon-fast-forward
        span.i-name fast-forward
        span.i-code 60033
    .the-icons(title='Code: 59531, fontawesome')
        i.icon-fast-fw
        span.i-name fast-fw
        span.i-code 59531
    .the-icons(title='Code: 59807, entypo')
        i.icon-feather
        span.i-name feather
        span.i-code 59807
    .the-icons(title='Code: 59408, fontawesome')
        i.icon-female
        span.i-name female
        span.i-code 59408
    .the-icons(title='Code: 59549, fontawesome')
        i.icon-fighter-jet
        span.i-name fighter-jet
        span.i-code 59549
    .the-icons(title='Code: 59604, fontawesome')
        i.icon-filter
        span.i-name filter
        span.i-code 59604
    .the-icons(title='Code: 59592, fontawesome')
        i.icon-fire
        span.i-name fire
        span.i-code 59592
    .the-icons(title='Code: 59452, fontawesome')
        i.icon-flag
        span.i-name flag
        span.i-code 59452
    .the-icons(title='Code: 59794, entypo')
        i.icon-flag-1
        span.i-name flag-1
        span.i-code 59794
    .the-icons(title='Code: 59454, fontawesome')
        i.icon-flag-checkered
        span.i-name flag-checkered
        span.i-code 59454
    .the-icons(title='Code: 59453, fontawesome')
        i.icon-flag-empty
        span.i-name flag-empty
        span.i-code 59453
    .the-icons(title='Code: 59545, fontawesome')
        i.icon-flash
        span.i-name flash
        span.i-code 59545
    .the-icons(title='Code: 59832, entypo')
        i.icon-flash-1
        span.i-name flash-1
        span.i-code 59832
    .the-icons(title='Code: 59756, entypo')
        i.icon-flashlight
        span.i-name flashlight
        span.i-code 59756
    .the-icons(title='Code: 59920, entypo')
        i.icon-flattr
        span.i-name flattr
        span.i-code 59920
    .the-icons(title='Code: 59660, fontawesome')
        i.icon-flickr
        span.i-name flickr
        span.i-code 59660
    .the-icons(title='Code: 59889, entypo')
        i.icon-flickr-1
        span.i-name flickr-1
        span.i-code 59889
    .the-icons(title='Code: 59890, entypo')
        i.icon-flickr-circled
        span.i-name flickr-circled
        span.i-code 59890
    .the-icons(title='Code: 59548, fontawesome')
        i.icon-flight
        span.i-name flight
        span.i-code 59548
    .the-icons(title='Code: 59834, entypo')
        i.icon-flight-1
        span.i-name flight-1
        span.i-code 59834
    .the-icons(title='Code: 59597, fontawesome')
        i.icon-floppy
        span.i-name floppy
        span.i-code 59597
    .the-icons(title='Code: 59860, entypo')
        i.icon-floppy-1
        span.i-name floppy-1
        span.i-code 59860
    .the-icons(title='Code: 59869, entypo')
        i.icon-flow-branch
        span.i-name flow-branch
        span.i-code 59869
    .the-icons(title='Code: 59868, entypo')
        i.icon-flow-cascade
        span.i-name flow-cascade
        span.i-code 59868
    .the-icons(title='Code: 59871, entypo')
        i.icon-flow-line
        span.i-name flow-line
        span.i-code 59871
    .the-icons(title='Code: 59872, entypo')
        i.icon-flow-parallel
        span.i-name flow-parallel
        span.i-code 59872
    .the-icons(title='Code: 59870, entypo')
        i.icon-flow-tree
        span.i-name flow-tree
        span.i-code 59870
    .the-icons(title='Code: 59496, fontawesome')
        i.icon-folder
        span.i-name folder
        span.i-code 59496
    .the-icons(title='Code: 59956, entypo')
        i.icon-folder-1
        span.i-name folder-1
        span.i-code 59956
    .the-icons(title='Code: 59498, fontawesome')
        i.icon-folder-empty
        span.i-name folder-empty
        span.i-code 59498
    .the-icons(title='Code: 59497, fontawesome')
        i.icon-folder-open
        span.i-name folder-open
        span.i-code 59497
    .the-icons(title='Code: 59499, fontawesome')
        i.icon-folder-open-empty
        span.i-name folder-open-empty
        span.i-code 59499
    .the-icons(title='Code: 59551, fontawesome')
        i.icon-font
        span.i-name font
        span.i-code 59551
    .the-icons(title='Code: 59631, fontawesome')
        i.icon-food
        span.i-name food
        span.i-code 59631
    .the-icons(title='Code: 59601, fontawesome')
        i.icon-fork
        span.i-name fork
        span.i-code 59601
    .the-icons(title='Code: 59465, fontawesome')
        i.icon-forward
        span.i-name forward
        span.i-code 59465
    .the-icons(title='Code: 59802, entypo')
        i.icon-forward-1
        span.i-name forward-1
        span.i-code 59802
    .the-icons(title='Code: 59661, fontawesome')
        i.icon-foursquare
        span.i-name foursquare
        span.i-code 59661
    .the-icons(title='Code: 59641, fontawesome')
        i.icon-frown
        span.i-name frown
        span.i-code 59641
    .the-icons(title='Code: 59477, fontawesome')
        i.icon-gamepad
        span.i-name gamepad
        span.i-code 59477
    .the-icons(title='Code: 59627, fontawesome')
        i.icon-gauge
        span.i-name gauge
        span.i-code 59627
    .the-icons(title='Code: 59874, entypo')
        i.icon-gauge-1
        span.i-name gauge-1
        span.i-code 59874
    .the-icons(title='Code: 59591, fontawesome')
        i.icon-gift
        span.i-name gift
        span.i-code 59591
    .the-icons(title='Code: 59662, fontawesome')
        i.icon-github
        span.i-name github
        span.i-code 59662
    .the-icons(title='Code: 59887, entypo')
        i.icon-github-1
        span.i-name github-1
        span.i-code 59887
    .the-icons(title='Code: 59664, fontawesome')
        i.icon-github-circled
        span.i-name github-circled
        span.i-code 59664
    .the-icons(title='Code: 59888, entypo')
        i.icon-github-circled-1
        span.i-name github-circled-1
        span.i-code 59888
    .the-icons(title='Code: 59663, fontawesome')
        i.icon-github-squared
        span.i-name github-squared
        span.i-code 59663
    .the-icons(title='Code: 59665, fontawesome')
        i.icon-gittip
        span.i-name gittip
        span.i-code 59665
    .the-icons(title='Code: 59392, fontawesome')
        i.icon-glass
        span.i-name glass
        span.i-code 59392
    .the-icons(title='Code: 59542, fontawesome')
        i.icon-globe
        span.i-name globe
        span.i-code 59542
    .the-icons(title='Code: 59829, entypo')
        i.icon-globe-1
        span.i-name globe-1
        span.i-code 59829
    .the-icons(title='Code: 59930, entypo')
        i.icon-google-circles
        span.i-name google-circles
        span.i-code 59930
    .the-icons(title='Code: 59667, fontawesome')
        i.icon-gplus
        span.i-name gplus
        span.i-code 59667
    .the-icons(title='Code: 59898, entypo')
        i.icon-gplus-1
        span.i-name gplus-1
        span.i-code 59898
    .the-icons(title='Code: 59899, entypo')
        i.icon-gplus-circled
        span.i-name gplus-circled
        span.i-code 59899
    .the-icons(title='Code: 59666, fontawesome')
        i.icon-gplus-squared
        span.i-name gplus-squared
        span.i-code 59666
    .the-icons(title='Code: 59853, entypo')
        i.icon-graduation-cap
        span.i-name graduation-cap
        span.i-code 59853
    .the-icons(title='Code: 59637, fontawesome')
        i.icon-h-sigh
        span.i-name h-sigh
        span.i-code 59637
    .the-icons(title='Code: 59626, fontawesome')
        i.icon-hammer
        span.i-name hammer
        span.i-code 59626
    .the-icons(title='Code: 59599, fontawesome')
        i.icon-hdd
        span.i-name hdd
        span.i-code 59599
    .the-icons(title='Code: 59744, fontawesome')
        i.icon-headphones
        span.i-name headphones
        span.i-code 59744
    .the-icons(title='Code: 59399, fontawesome')
        i.icon-heart
        span.i-name heart
        span.i-code 59399
    .the-icons(title='Code: 59758, entypo')
        i.icon-heart-1
        span.i-name heart-1
        span.i-code 59758
    .the-icons(title='Code: 59395, fontawesome')
        i.icon-heart-empty
        span.i-name heart-empty
        span.i-code 59395
    .the-icons(title='Code: 59759, entypo')
        i.icon-heart-empty-1
        span.i-name heart-empty-1
        span.i-code 59759
    .the-icons(title='Code: 59433, fontawesome')
        i.icon-help
        span.i-name help
        span.i-code 59433
    .the-icons(title='Code: 59780, entypo')
        i.icon-help-1
        span.i-name help-1
        span.i-code 59780
    .the-icons(title='Code: 59434, fontawesome')
        i.icon-help-circled
        span.i-name help-circled
        span.i-code 59434
    .the-icons(title='Code: 59781, entypo')
        i.icon-help-circled-1
        span.i-name help-circled-1
        span.i-code 59781
    .the-icons(title='Code: 59437, fontawesome')
        i.icon-home
        span.i-name home
        span.i-code 59437
    .the-icons(title='Code: 59785, entypo')
        i.icon-home-1
        span.i-name home-1
        span.i-code 59785
    .the-icons(title='Code: 59638, fontawesome')
        i.icon-hospital
        span.i-name hospital
        span.i-code 59638
    .the-icons(title='Code: 59975, entypo')
        i.icon-hourglass
        span.i-name hourglass
        span.i-code 59975
    .the-icons(title='Code: 59668, fontawesome')
        i.icon-html5
        span.i-name html5
        span.i-code 59668
    .the-icons(title='Code: 59541, fontawesome')
        i.icon-inbox
        span.i-name inbox
        span.i-code 59541
    .the-icons(title='Code: 59827, entypo')
        i.icon-inbox-1
        span.i-name inbox-1
        span.i-code 59827
    .the-icons(title='Code: 59561, fontawesome')
        i.icon-indent-left
        span.i-name indent-left
        span.i-code 59561
    .the-icons(title='Code: 59562, fontawesome')
        i.icon-indent-right
        span.i-name indent-right
        span.i-code 59562
    .the-icons(title='Code: 59846, entypo')
        i.icon-infinity
        span.i-name infinity
        span.i-code 59846
    .the-icons(title='Code: 59436, fontawesome')
        i.icon-info
        span.i-name info
        span.i-code 59436
    .the-icons(title='Code: 59782, entypo')
        i.icon-info-1
        span.i-name info-1
        span.i-code 59782
    .the-icons(title='Code: 59435, fontawesome')
        i.icon-info-circled
        span.i-name info-circled
        span.i-code 59435
    .the-icons(title='Code: 59783, entypo')
        i.icon-info-circled-1
        span.i-name info-circled-1
        span.i-code 59783
    .the-icons(title='Code: 59917, entypo')
        i.icon-instagram
        span.i-name instagram
        span.i-code 59917
    .the-icons(title='Code: 59669, fontawesome')
        i.icon-instagramm
        span.i-name instagramm
        span.i-code 59669
    .the-icons(title='Code: 59828, entypo')
        i.icon-install
        span.i-name install
        span.i-code 59828
    .the-icons(title='Code: 59553, fontawesome')
        i.icon-italic
        span.i-name italic
        span.i-code 59553
    .the-icons(title='Code: 59600, fontawesome')
        i.icon-key
        span.i-name key
        span.i-code 59600
    .the-icons(title='Code: 59867, entypo')
        i.icon-key-1
        span.i-name key-1
        span.i-code 59867
    .the-icons(title='Code: 59476, fontawesome')
        i.icon-keyboard
        span.i-name keyboard
        span.i-code 59476
    .the-icons(title='Code: 59810, entypo')
        i.icon-keyboard-1
        span.i-name keyboard-1
        span.i-code 59810
    .the-icons(title='Code: 59976, entypo')
        i.icon-lamp
        span.i-name lamp
        span.i-code 59976
    .the-icons(title='Code: 59854, entypo')
        i.icon-language
        span.i-name language
        span.i-code 59854
    .the-icons(title='Code: 59538, fontawesome')
        i.icon-laptop
        span.i-name laptop
        span.i-code 59538
    .the-icons(title='Code: 59910, entypo')
        i.icon-lastfm
        span.i-name lastfm
        span.i-code 59910
    .the-icons(title='Code: 59911, entypo')
        i.icon-lastfm-circled
        span.i-name lastfm-circled
        span.i-code 59911
    .the-icons(title='Code: 59768, entypo')
        i.icon-layout
        span.i-name layout
        span.i-code 59768
    .the-icons(title='Code: 59550, fontawesome')
        i.icon-leaf
        span.i-name leaf
        span.i-code 59550
    .the-icons(title='Code: 59836, entypo')
        i.icon-leaf-1
        span.i-name leaf-1
        span.i-code 59836
    .the-icons(title='Code: 59517, fontawesome')
        i.icon-left
        span.i-name left
        span.i-code 59517
    .the-icons(title='Code: 60004, entypo')
        i.icon-left-1
        span.i-name left-1
        span.i-code 60004
    .the-icons(title='Code: 59521, fontawesome')
        i.icon-left-big
        span.i-name left-big
        span.i-code 59521
    .the-icons(title='Code: 60012, entypo')
        i.icon-left-bold
        span.i-name left-bold
        span.i-code 60012
    .the-icons(title='Code: 59730, fontawesome')
        i.icon-left-circled
        span.i-name left-circled
        span.i-code 59730
    .the-icons(title='Code: 59988, entypo')
        i.icon-left-circled-1
        span.i-name left-circled-1
        span.i-code 59988
    .the-icons(title='Code: 59432, fontawesome')
        i.icon-left-circled2
        span.i-name left-circled2
        span.i-code 59432
    .the-icons(title='Code: 59506, fontawesome')
        i.icon-left-dir
        span.i-name left-dir
        span.i-code 59506
    .the-icons(title='Code: 60008, entypo')
        i.icon-left-dir-1
        span.i-name left-dir-1
        span.i-code 60008
    .the-icons(title='Code: 59525, fontawesome')
        i.icon-left-hand
        span.i-name left-hand
        span.i-code 59525
    .the-icons(title='Code: 59509, fontawesome')
        i.icon-left-open
        span.i-name left-open
        span.i-code 59509
    .the-icons(title='Code: 59992, entypo')
        i.icon-left-open-1
        span.i-name left-open-1
        span.i-code 59992
    .the-icons(title='Code: 60000, entypo')
        i.icon-left-open-big
        span.i-name left-open-big
        span.i-code 60000
    .the-icons(title='Code: 59996, entypo')
        i.icon-left-open-mini
        span.i-name left-open-mini
        span.i-code 59996
    .the-icons(title='Code: 60016, entypo')
        i.icon-left-thin
        span.i-name left-thin
        span.i-code 60016
    .the-icons(title='Code: 59393, fontawesome')
        i.icon-lemon
        span.i-name lemon
        span.i-code 59393
  .atk-cell
    .the-icons(title='Code: 59694, fontawesome')
        i.icon-level-down
        span.i-name level-down
        span.i-code 59694
    .the-icons(title='Code: 60022, entypo')
        i.icon-level-down-1
        span.i-name level-down-1
        span.i-code 60022
    .the-icons(title='Code: 59737, fontawesome')
        i.icon-level-up
        span.i-name level-up
        span.i-code 59737
    .the-icons(title='Code: 60023, entypo')
        i.icon-level-up-1
        span.i-name level-up-1
        span.i-code 60023
    .the-icons(title='Code: 59837, entypo')
        i.icon-lifebuoy
        span.i-name lifebuoy
        span.i-code 59837
    .the-icons(title='Code: 59977, entypo')
        i.icon-light-down
        span.i-name light-down
        span.i-code 59977
    .the-icons(title='Code: 59978, entypo')
        i.icon-light-up
        span.i-name light-up
        span.i-code 59978
    .the-icons(title='Code: 59746, fontawesome')
        i.icon-lightbulb
        span.i-name lightbulb
        span.i-code 59746
    .the-icons(title='Code: 59438, fontawesome')
        i.icon-link
        span.i-name link
        span.i-code 59438
    .the-icons(title='Code: 59786, entypo')
        i.icon-link-1
        span.i-name link-1
        span.i-code 59786
    .the-icons(title='Code: 59440, fontawesome')
        i.icon-link-ext
        span.i-name link-ext
        span.i-code 59440
    .the-icons(title='Code: 59441, fontawesome')
        i.icon-link-ext-alt
        span.i-name link-ext-alt
        span.i-code 59441
    .the-icons(title='Code: 59672, fontawesome')
        i.icon-linkedin
        span.i-name linkedin
        span.i-code 59672
    .the-icons(title='Code: 59904, entypo')
        i.icon-linkedin-1
        span.i-name linkedin-1
        span.i-code 59904
    .the-icons(title='Code: 59905, entypo')
        i.icon-linkedin-circled
        span.i-name linkedin-circled
        span.i-code 59905
    .the-icons(title='Code: 59670, fontawesome')
        i.icon-linkedin-squared
        span.i-name linkedin-squared
        span.i-code 59670
    .the-icons(title='Code: 59671, fontawesome')
        i.icon-linux
        span.i-name linux
        span.i-code 59671
    .the-icons(title='Code: 59560, fontawesome')
        i.icon-list
        span.i-name list
        span.i-code 59560
    .the-icons(title='Code: 59817, entypo')
        i.icon-list-1
        span.i-name list-1
        span.i-code 59817
    .the-icons(title='Code: 59818, entypo')
        i.icon-list-add
        span.i-name list-add
        span.i-code 59818
    .the-icons(title='Code: 59580, fontawesome')
        i.icon-list-alt
        span.i-name list-alt
        span.i-code 59580
    .the-icons(title='Code: 59563, fontawesome')
        i.icon-list-bullet
        span.i-name list-bullet
        span.i-code 59563
    .the-icons(title='Code: 59564, fontawesome')
        i.icon-list-numbered
        span.i-name list-numbered
        span.i-code 59564
    .the-icons(title='Code: 59487, fontawesome')
        i.icon-location
        span.i-name location
        span.i-code 59487
    .the-icons(title='Code: 59942, entypo')
        i.icon-location-1
        span.i-name location-1
        span.i-code 59942
    .the-icons(title='Code: 59443, fontawesome')
        i.icon-lock
        span.i-name lock
        span.i-code 59443
    .the-icons(title='Code: 59788, entypo')
        i.icon-lock-1
        span.i-name lock-1
        span.i-code 59788
    .the-icons(title='Code: 59444, fontawesome')
        i.icon-lock-open
        span.i-name lock-open
        span.i-code 59444
    .the-icons(title='Code: 59789, entypo')
        i.icon-lock-open-1
        span.i-name lock-open-1
        span.i-code 59789
    .the-icons(title='Code: 59445, fontawesome')
        i.icon-lock-open-alt
        span.i-name lock-open-alt
        span.i-code 59445
    .the-icons(title='Code: 59713, fontawesome')
        i.icon-login
        span.i-name login
        span.i-code 59713
    .the-icons(title='Code: 59968, entypo')
        i.icon-login-1
        span.i-name login-1
        span.i-code 59968
    .the-icons(title='Code: 59935, entypo')
        i.icon-logo-db
        span.i-name logo-db
        span.i-code 59935
    .the-icons(title='Code: 59738, fontawesome')
        i.icon-logout
        span.i-name logout
        span.i-code 59738
    .the-icons(title='Code: 59969, entypo')
        i.icon-logout-1
        span.i-name logout-1
        span.i-code 59969
    .the-icons(title='Code: 60025, entypo')
        i.icon-loop
        span.i-name loop
        span.i-code 60025
    .the-icons(title='Code: 59606, fontawesome')
        i.icon-magic
        span.i-name magic
        span.i-code 59606
    .the-icons(title='Code: 59593, fontawesome')
        i.icon-magnet
        span.i-name magnet
        span.i-code 59593
    .the-icons(title='Code: 59845, entypo')
        i.icon-magnet-1
        span.i-name magnet-1
        span.i-code 59845
    .the-icons(title='Code: 59397, fontawesome')
        i.icon-mail
        span.i-name mail
        span.i-code 59397
    .the-icons(title='Code: 59757, entypo')
        i.icon-mail-1
        span.i-name mail-1
        span.i-code 59757
    .the-icons(title='Code: 59398, fontawesome')
        i.icon-mail-alt
        span.i-name mail-alt
        span.i-code 59398
    .the-icons(title='Code: 59407, fontawesome')
        i.icon-male
        span.i-name male
        span.i-code 59407
    .the-icons(title='Code: 59943, entypo')
        i.icon-map
        span.i-name map
        span.i-code 59943
    .the-icons(title='Code: 59673, fontawesome')
        i.icon-maxcdn
        span.i-name maxcdn
        span.i-code 59673
    .the-icons(title='Code: 59636, fontawesome')
        i.icon-medkit
        span.i-name medkit
        span.i-code 59636
    .the-icons(title='Code: 59598, fontawesome')
        i.icon-megaphone
        span.i-name megaphone
        span.i-code 59598
    .the-icons(title='Code: 59862, entypo')
        i.icon-megaphone-1
        span.i-name megaphone-1
        span.i-code 59862
    .the-icons(title='Code: 59642, fontawesome')
        i.icon-meh
        span.i-name meh
        span.i-code 59642
    .the-icons(title='Code: 59706, fontawesome')
        i.icon-menu
        span.i-name menu
        span.i-code 59706
    .the-icons(title='Code: 59769, entypo')
        i.icon-menu-1
        span.i-name menu-1
        span.i-code 59769
    .the-icons(title='Code: 59739, fontawesome')
        i.icon-mic
        span.i-name mic
        span.i-code 59739
    .the-icons(title='Code: 59970, entypo')
        i.icon-mic-1
        span.i-name mic-1
        span.i-code 59970
    .the-icons(title='Code: 59428, fontawesome')
        i.icon-minus
        span.i-name minus
        span.i-code 59428
    .the-icons(title='Code: 59777, entypo')
        i.icon-minus-1
        span.i-name minus-1
        span.i-code 59777
    .the-icons(title='Code: 59429, fontawesome')
        i.icon-minus-circled
        span.i-name minus-circled
        span.i-code 59429
    .the-icons(title='Code: 59778, entypo')
        i.icon-minus-circled-1
        span.i-name minus-circled-1
        span.i-code 59778
    .the-icons(title='Code: 59430, fontawesome')
        i.icon-minus-squared
        span.i-name minus-squared
        span.i-code 59430
    .the-icons(title='Code: 59779, entypo')
        i.icon-minus-squared-1
        span.i-name minus-squared-1
        span.i-code 59779
    .the-icons(title='Code: 59431, fontawesome')
        i.icon-minus-squared-alt
        span.i-name minus-squared-alt
        span.i-code 59431
    .the-icons(title='Code: 59928, entypo')
        i.icon-mixi
        span.i-name mixi
        span.i-code 59928
    .the-icons(title='Code: 59540, fontawesome')
        i.icon-mobile
        span.i-name mobile
        span.i-code 59540
    .the-icons(title='Code: 59824, entypo')
        i.icon-mobile-1
        span.i-name mobile-1
        span.i-code 59824
    .the-icons(title='Code: 59608, fontawesome')
        i.icon-money
        span.i-name money
        span.i-code 59608
    .the-icons(title='Code: 59823, entypo')
        i.icon-monitor
        span.i-name monitor
        span.i-code 59823
    .the-icons(title='Code: 59546, fontawesome')
        i.icon-moon
        span.i-name moon
        span.i-code 59546
    .the-icons(title='Code: 59833, entypo')
        i.icon-moon-1
        span.i-name moon-1
        span.i-code 59833
    .the-icons(title='Code: 59838, entypo')
        i.icon-mouse
        span.i-name mouse
        span.i-code 59838
    .the-icons(title='Code: 59717, fontawesome')
        i.icon-move
        span.i-name move
        span.i-code 59717
    .the-icons(title='Code: 59394, fontawesome')
        i.icon-music
        span.i-name music
        span.i-code 59394
    .the-icons(title='Code: 59754, entypo')
        i.icon-music-1
        span.i-name music-1
        span.i-code 59754
    .the-icons(title='Code: 59740, fontawesome')
        i.icon-mute
        span.i-name mute
        span.i-code 59740
    .the-icons(title='Code: 59971, entypo')
        i.icon-mute-1
        span.i-name mute-1
        span.i-code 59971
    .the-icons(title='Code: 59825, entypo')
        i.icon-network
        span.i-name network
        span.i-code 59825
    .the-icons(title='Code: 59953, entypo')
        i.icon-newspaper
        span.i-name newspaper
        span.i-code 59953
    .the-icons(title='Code: 59752, entypo')
        i.icon-note
        span.i-name note
        span.i-code 59752
    .the-icons(title='Code: 59753, entypo')
        i.icon-note-beamed
        span.i-name note-beamed
        span.i-code 59753
    .the-icons(title='Code: 59578, fontawesome')
        i.icon-off
        span.i-name off
        span.i-code 59578
    .the-icons(title='Code: 59417, fontawesome')
        i.icon-ok
        span.i-name ok
        span.i-code 59417
    .the-icons(title='Code: 59418, fontawesome')
        i.icon-ok-circled
        span.i-name ok-circled
        span.i-code 59418
    .the-icons(title='Code: 59419, fontawesome')
        i.icon-ok-circled2
        span.i-name ok-circled2
        span.i-code 59419
    .the-icons(title='Code: 59420, fontawesome')
        i.icon-ok-squared
        span.i-name ok-squared
        span.i-code 59420
    .the-icons(title='Code: 60038, fontawesome')
        i.icon-pagelines
        span.i-name pagelines
        span.i-code 60038
    .the-icons(title='Code: 59816, entypo')
        i.icon-palette
        span.i-name palette
        span.i-code 59816
    .the-icons(title='Code: 59835, entypo')
        i.icon-paper-plane
        span.i-name paper-plane
        span.i-code 59835
    .the-icons(title='Code: 59573, fontawesome')
        i.icon-paste
        span.i-name paste
        span.i-code 59573
    .the-icons(title='Code: 59704, fontawesome')
        i.icon-pause
        span.i-name pause
        span.i-code 59704
    .the-icons(title='Code: 60029, entypo')
        i.icon-pause-1
        span.i-name pause-1
        span.i-code 60029
    .the-icons(title='Code: 59925, entypo')
        i.icon-paypal
        span.i-name paypal
        span.i-code 59925
    .the-icons(title='Code: 59471, fontawesome')
        i.icon-pencil
        span.i-name pencil
        span.i-code 59471
    .the-icons(title='Code: 59806, entypo')
        i.icon-pencil-1
        span.i-name pencil-1
        span.i-code 59806
    .the-icons(title='Code: 59472, fontawesome')
        i.icon-pencil-squared
        span.i-name pencil-squared
        span.i-code 59472
    .the-icons(title='Code: 59750, fontawesome')
        i.icon-phone
        span.i-name phone
        span.i-code 59750
    .the-icons(title='Code: 59960, entypo')
        i.icon-phone-1
        span.i-name phone-1
        span.i-code 59960
    .the-icons(title='Code: 59751, fontawesome')
        i.icon-phone-squared
        span.i-name phone-squared
        span.i-code 59751
    .the-icons(title='Code: 59926, entypo')
        i.icon-picasa
        span.i-name picasa
        span.i-code 59926
    .the-icons(title='Code: 59411, fontawesome')
        i.icon-picture
        span.i-name picture
        span.i-code 59411
    .the-icons(title='Code: 59766, entypo')
        i.icon-picture-1
        span.i-name picture-1
        span.i-code 59766
    .the-icons(title='Code: 59446, fontawesome')
        i.icon-pin
        span.i-name pin
        span.i-code 59446
    .the-icons(title='Code: 59900, entypo')
        i.icon-pinterest
        span.i-name pinterest
        span.i-code 59900
    .the-icons(title='Code: 59674, fontawesome')
        i.icon-pinterest-circled
        span.i-name pinterest-circled
        span.i-code 59674
    .the-icons(title='Code: 59901, entypo')
        i.icon-pinterest-circled-1
        span.i-name pinterest-circled-1
        span.i-code 59901
    .the-icons(title='Code: 59675, fontawesome')
        i.icon-pinterest-squared
        span.i-name pinterest-squared
        span.i-code 59675
    .the-icons(title='Code: 59700, fontawesome')
        i.icon-play
        span.i-name play
        span.i-code 59700
    .the-icons(title='Code: 60027, entypo')
        i.icon-play-1
        span.i-name play-1
        span.i-code 60027
    .the-icons(title='Code: 59701, fontawesome')
        i.icon-play-circled
        span.i-name play-circled
        span.i-code 59701
    .the-icons(title='Code: 59702, fontawesome')
        i.icon-play-circled2
        span.i-name play-circled2
        span.i-code 59702
    .the-icons(title='Code: 59424, fontawesome')
        i.icon-plus
        span.i-name plus
        span.i-code 59424
    .the-icons(title='Code: 59774, entypo')
        i.icon-plus-1
        span.i-name plus-1
        span.i-code 59774
    .the-icons(title='Code: 59425, fontawesome')
        i.icon-plus-circled
        span.i-name plus-circled
        span.i-code 59425
    .the-icons(title='Code: 59775, entypo')
        i.icon-plus-circled-1
        span.i-name plus-circled-1
        span.i-code 59775
    .the-icons(title='Code: 59426, fontawesome')
        i.icon-plus-squared
        span.i-name plus-squared
        span.i-code 59426
    .the-icons(title='Code: 59776, entypo')
        i.icon-plus-squared-1
        span.i-name plus-squared-1
        span.i-code 59776
    .the-icons(title='Code: 59427, fontawesome')
        i.icon-plus-squared-alt
        span.i-name plus-squared-alt
        span.i-code 59427
    .the-icons(title='Code: 59983, entypo')
        i.icon-popup
        span.i-name popup
        span.i-code 59983
    .the-icons(title='Code: 59610, fontawesome')
        i.icon-pound
        span.i-name pound
        span.i-code 59610
    .the-icons(title='Code: 59474, fontawesome')
        i.icon-print
        span.i-name print
        span.i-code 59474
    .the-icons(title='Code: 59808, entypo')
        i.icon-print-1
        span.i-name print-1
        span.i-code 59808
    .the-icons(title='Code: 60035, entypo')
        i.icon-progress-0
        span.i-name progress-0
        span.i-code 60035
    .the-icons(title='Code: 59812, entypo')
        i.icon-progress-1
        span.i-name progress-1
        span.i-code 59812
    .the-icons(title='Code: 59813, entypo')
        i.icon-progress-2
        span.i-name progress-2
        span.i-code 59813
    .the-icons(title='Code: 59814, entypo')
        i.icon-progress-3
        span.i-name progress-3
        span.i-code 59814
    .the-icons(title='Code: 59984, entypo')
        i.icon-publish
        span.i-name publish
        span.i-code 59984
    .the-icons(title='Code: 59646, fontawesome')
        i.icon-puzzle
        span.i-name puzzle
        span.i-code 59646
    .the-icons(title='Code: 59916, entypo')
        i.icon-qq
        span.i-name qq
        span.i-code 59916
    .the-icons(title='Code: 59581, fontawesome')
        i.icon-qrcode
        span.i-name qrcode
        span.i-code 59581
    .the-icons(title='Code: 59803, entypo')
        i.icon-quote
        span.i-name quote
        span.i-code 59803
    .the-icons(title='Code: 59466, fontawesome')
        i.icon-quote-left
        span.i-name quote-left
        span.i-code 59466
    .the-icons(title='Code: 59467, fontawesome')
        i.icon-quote-right
        span.i-name quote-right
        span.i-code 59467
    .the-icons(title='Code: 59912, entypo')
        i.icon-rdio
        span.i-name rdio
        span.i-code 59912
    .the-icons(title='Code: 59913, entypo')
        i.icon-rdio-circled
        span.i-name rdio-circled
        span.i-code 59913
    .the-icons(title='Code: 60030, entypo')
        i.icon-record
        span.i-name record
        span.i-code 60030
    .the-icons(title='Code: 59614, fontawesome')
        i.icon-renminbi
        span.i-name renminbi
        span.i-code 59614
    .the-icons(title='Code: 59676, fontawesome')
        i.icon-renren
        span.i-name renren
        span.i-code 59676
    .the-icons(title='Code: 59923, entypo')
        i.icon-renren-1
        span.i-name renren-1
        span.i-code 59923
    .the-icons(title='Code: 59463, fontawesome')
        i.icon-reply
        span.i-name reply
        span.i-code 59463
    .the-icons(title='Code: 59800, entypo')
        i.icon-reply-1
        span.i-name reply-1
        span.i-code 59800
    .the-icons(title='Code: 59464, fontawesome')
        i.icon-reply-all
        span.i-name reply-all
        span.i-code 59464
    .the-icons(title='Code: 59801, entypo')
        i.icon-reply-all-1
        span.i-name reply-all-1
        span.i-code 59801
    .the-icons(title='Code: 59748, fontawesome')
        i.icon-resize-full
        span.i-name resize-full
        span.i-code 59748
    .the-icons(title='Code: 59981, entypo')
        i.icon-resize-full-1
        span.i-name resize-full-1
        span.i-code 59981
    .the-icons(title='Code: 59749, fontawesome')
        i.icon-resize-full-alt
        span.i-name resize-full-alt
        span.i-code 59749
    .the-icons(title='Code: 59716, fontawesome')
        i.icon-resize-horizontal
        span.i-name resize-horizontal
        span.i-code 59716
    .the-icons(title='Code: 59714, fontawesome')
        i.icon-resize-small
        span.i-name resize-small
        span.i-code 59714
    .the-icons(title='Code: 59982, entypo')
        i.icon-resize-small-1
        span.i-name resize-small-1
        span.i-code 59982
    .the-icons(title='Code: 59715, fontawesome')
        i.icon-resize-vertical
        span.i-name resize-vertical
        span.i-code 59715
    .the-icons(title='Code: 59475, fontawesome')
        i.icon-retweet
        span.i-name retweet
        span.i-code 59475
    .the-icons(title='Code: 59809, entypo')
        i.icon-retweet-1
        span.i-name retweet-1
        span.i-code 59809
    .the-icons(title='Code: 59518, fontawesome')
        i.icon-right
        span.i-name right
        span.i-code 59518
    .the-icons(title='Code: 60005, entypo')
        i.icon-right-1
        span.i-name right-1
        span.i-code 60005
    .the-icons(title='Code: 59522, fontawesome')
        i.icon-right-big
        span.i-name right-big
        span.i-code 59522
    .the-icons(title='Code: 60013, entypo')
        i.icon-right-bold
        span.i-name right-bold
        span.i-code 60013
    .the-icons(title='Code: 59731, fontawesome')
        i.icon-right-circled
        span.i-name right-circled
        span.i-code 59731
    .the-icons(title='Code: 59989, entypo')
        i.icon-right-circled-1
        span.i-name right-circled-1
        span.i-code 59989
    .the-icons(title='Code: 60036, fontawesome')
        i.icon-right-circled2
        span.i-name right-circled2
        span.i-code 60036
    .the-icons(title='Code: 59507, fontawesome')
        i.icon-right-dir
        span.i-name right-dir
        span.i-code 59507
    .the-icons(title='Code: 60009, entypo')
        i.icon-right-dir-1
        span.i-name right-dir-1
        span.i-code 60009
    .the-icons(title='Code: 59524, fontawesome')
        i.icon-right-hand
        span.i-name right-hand
        span.i-code 59524
    .the-icons(title='Code: 59510, fontawesome')
        i.icon-right-open
        span.i-name right-open
        span.i-code 59510
    .the-icons(title='Code: 59993, entypo')
        i.icon-right-open-1
        span.i-name right-open-1
        span.i-code 59993
    .the-icons(title='Code: 60001, entypo')
        i.icon-right-open-big
        span.i-name right-open-big
        span.i-code 60001
    .the-icons(title='Code: 59997, entypo')
        i.icon-right-open-mini
        span.i-name right-open-mini
        span.i-code 59997
    .the-icons(title='Code: 60017, entypo')
        i.icon-right-thin
        span.i-name right-thin
        span.i-code 60017
  .atk-cell
    .the-icons(title='Code: 59579, fontawesome')
        i.icon-road
        span.i-name road
        span.i-code 59579
    .the-icons(title='Code: 59693, fontawesome')
        i.icon-rocket
        span.i-name rocket
        span.i-code 59693
    .the-icons(title='Code: 59873, entypo')
        i.icon-rocket-1
        span.i-name rocket-1
        span.i-code 59873
    .the-icons(title='Code: 59502, fontawesome')
        i.icon-rss
        span.i-name rss
        span.i-code 59502
    .the-icons(title='Code: 59959, entypo')
        i.icon-rss-1
        span.i-name rss-1
        span.i-code 59959
    .the-icons(title='Code: 59503, fontawesome')
        i.icon-rss-squared
        span.i-name rss-squared
        span.i-code 59503
    .the-icons(title='Code: 59612, fontawesome')
        i.icon-rupee
        span.i-name rupee
        span.i-code 59612
    .the-icons(title='Code: 59572, fontawesome')
        i.icon-scissors
        span.i-name scissors
        span.i-code 59572
    .the-icons(title='Code: 59396, fontawesome')
        i.icon-search
        span.i-name search
        span.i-code 59396
    .the-icons(title='Code: 59755, entypo')
        i.icon-search-1
        span.i-name search-1
        span.i-code 59755
    .the-icons(title='Code: 59963, entypo')
        i.icon-share
        span.i-name share
        span.i-code 59963
    .the-icons(title='Code: 59964, entypo')
        i.icon-shareable
        span.i-name shareable
        span.i-code 59964
    .the-icons(title='Code: 59647, fontawesome')
        i.icon-shield
        span.i-name shield
        span.i-code 59647
    .the-icons(title='Code: 59695, fontawesome')
        i.icon-shuffle
        span.i-name shuffle
        span.i-code 59695
    .the-icons(title='Code: 60024, entypo')
        i.icon-shuffle-1
        span.i-name shuffle-1
        span.i-code 60024
    .the-icons(title='Code: 59535, fontawesome')
        i.icon-signal
        span.i-name signal
        span.i-code 59535
    .the-icons(title='Code: 59819, entypo')
        i.icon-signal-1
        span.i-name signal-1
        span.i-code 59819
    .the-icons(title='Code: 59924, entypo')
        i.icon-sina-weibo
        span.i-name sina-weibo
        span.i-code 59924
    .the-icons(title='Code: 59628, fontawesome')
        i.icon-sitemap
        span.i-name sitemap
        span.i-code 59628
    .the-icons(title='Code: 59677, fontawesome')
        i.icon-skype
        span.i-name skype
        span.i-code 59677
    .the-icons(title='Code: 59921, entypo')
        i.icon-skype-1
        span.i-name skype-1
        span.i-code 59921
    .the-icons(title='Code: 59922, entypo')
        i.icon-skype-circled
        span.i-name skype-circled
        span.i-code 59922
    .the-icons(title='Code: 59932, entypo')
        i.icon-smashing
        span.i-name smashing
        span.i-code 59932
    .the-icons(title='Code: 59640, fontawesome')
        i.icon-smile
        span.i-name smile
        span.i-code 59640
    .the-icons(title='Code: 59617, fontawesome')
        i.icon-sort
        span.i-name sort
        span.i-code 59617
    .the-icons(title='Code: 59621, fontawesome')
        i.icon-sort-alt-down
        span.i-name sort-alt-down
        span.i-code 59621
    .the-icons(title='Code: 59620, fontawesome')
        i.icon-sort-alt-up
        span.i-name sort-alt-up
        span.i-code 59620
    .the-icons(title='Code: 59618, fontawesome')
        i.icon-sort-down
        span.i-name sort-down
        span.i-code 59618
    .the-icons(title='Code: 59623, fontawesome')
        i.icon-sort-name-down
        span.i-name sort-name-down
        span.i-code 59623
    .the-icons(title='Code: 59622, fontawesome')
        i.icon-sort-name-up
        span.i-name sort-name-up
        span.i-code 59622
    .the-icons(title='Code: 59625, fontawesome')
        i.icon-sort-number-down
        span.i-name sort-number-down
        span.i-code 59625
    .the-icons(title='Code: 59624, fontawesome')
        i.icon-sort-number-up
        span.i-name sort-number-up
        span.i-code 59624
    .the-icons(title='Code: 59619, fontawesome')
        i.icon-sort-up
        span.i-name sort-up
        span.i-code 59619
    .the-icons(title='Code: 59972, entypo')
        i.icon-sound
        span.i-name sound
        span.i-code 59972
    .the-icons(title='Code: 59927, entypo')
        i.icon-soundcloud
        span.i-name soundcloud
        span.i-code 59927
    .the-icons(title='Code: 59629, fontawesome')
        i.icon-spinner
        span.i-name spinner
        span.i-code 59629
    .the-icons(title='Code: 59914, entypo')
        i.icon-spotify
        span.i-name spotify
        span.i-code 59914
    .the-icons(title='Code: 59915, entypo')
        i.icon-spotify-circled
        span.i-name spotify-circled
        span.i-code 59915
    .the-icons(title='Code: 60040, fontawesome')
        i.icon-stackexchange
        span.i-name stackexchange
        span.i-code 60040
    .the-icons(title='Code: 59678, fontawesome')
        i.icon-stackoverflow
        span.i-name stackoverflow
        span.i-code 59678
    .the-icons(title='Code: 59401, fontawesome')
        i.icon-star
        span.i-name star
        span.i-code 59401
    .the-icons(title='Code: 59760, entypo')
        i.icon-star-1
        span.i-name star-1
        span.i-code 59760
    .the-icons(title='Code: 59402, fontawesome')
        i.icon-star-empty
        span.i-name star-empty
        span.i-code 59402
    .the-icons(title='Code: 59761, entypo')
        i.icon-star-empty-1
        span.i-name star-empty-1
        span.i-code 59761
    .the-icons(title='Code: 59403, fontawesome')
        i.icon-star-half
        span.i-name star-half
        span.i-code 59403
    .the-icons(title='Code: 59404, fontawesome')
        i.icon-star-half-alt
        span.i-name star-half-alt
        span.i-code 59404
    .the-icons(title='Code: 59634, fontawesome')
        i.icon-stethoscope
        span.i-name stethoscope
        span.i-code 59634
    .the-icons(title='Code: 59703, fontawesome')
        i.icon-stop
        span.i-name stop
        span.i-code 59703
    .the-icons(title='Code: 60028, entypo')
        i.icon-stop-1
        span.i-name stop-1
        span.i-code 60028
    .the-icons(title='Code: 59565, fontawesome')
        i.icon-strike
        span.i-name strike
        span.i-code 59565
    .the-icons(title='Code: 59908, entypo')
        i.icon-stumbleupon
        span.i-name stumbleupon
        span.i-code 59908
    .the-icons(title='Code: 59909, entypo')
        i.icon-stumbleupon-circled
        span.i-name stumbleupon-circled
        span.i-code 59909
    .the-icons(title='Code: 59568, fontawesome')
        i.icon-subscript
        span.i-name subscript
        span.i-code 59568
    .the-icons(title='Code: 59575, fontawesome')
        i.icon-suitcase
        span.i-name suitcase
        span.i-code 59575
    .the-icons(title='Code: 59840, entypo')
        i.icon-suitcase-1
        span.i-name suitcase-1
        span.i-code 59840
    .the-icons(title='Code: 59543, fontawesome')
        i.icon-sun
        span.i-name sun
        span.i-code 59543
    .the-icons(title='Code: 59567, fontawesome')
        i.icon-superscript
        span.i-name superscript
        span.i-code 59567
    .the-icons(title='Code: 59933, entypo')
        i.icon-sweden
        span.i-name sweden
        span.i-code 59933
    .the-icons(title='Code: 60026, entypo')
        i.icon-switch
        span.i-name switch
        span.i-code 60026
    .the-icons(title='Code: 59569, fontawesome')
        i.icon-table
        span.i-name table
        span.i-code 59569
    .the-icons(title='Code: 59539, fontawesome')
        i.icon-tablet
        span.i-name tablet
        span.i-code 59539
    .the-icons(title='Code: 59448, fontawesome')
        i.icon-tag
        span.i-name tag
        span.i-code 59448
    .the-icons(title='Code: 59791, entypo')
        i.icon-tag-1
        span.i-name tag-1
        span.i-code 59791
    .the-icons(title='Code: 59449, fontawesome')
        i.icon-tags
        span.i-name tags
        span.i-code 59449
    .the-icons(title='Code: 59852, entypo')
        i.icon-tape
        span.i-name tape
        span.i-code 59852
    .the-icons(title='Code: 59534, fontawesome')
        i.icon-target
        span.i-name target
        span.i-code 59534
    .the-icons(title='Code: 59815, entypo')
        i.icon-target-1
        span.i-name target-1
        span.i-code 59815
    .the-icons(title='Code: 59603, fontawesome')
        i.icon-tasks
        span.i-name tasks
        span.i-code 59603
    .the-icons(title='Code: 59644, fontawesome')
        i.icon-terminal
        span.i-name terminal
        span.i-code 59644
    .the-icons(title='Code: 59554, fontawesome')
        i.icon-text-height
        span.i-name text-height
        span.i-code 59554
    .the-icons(title='Code: 59555, fontawesome')
        i.icon-text-width
        span.i-name text-width
        span.i-code 59555
    .the-icons(title='Code: 59415, fontawesome')
        i.icon-th
        span.i-name th
        span.i-code 59415
    .the-icons(title='Code: 59414, fontawesome')
        i.icon-th-large
        span.i-name th-large
        span.i-code 59414
    .the-icons(title='Code: 59416, fontawesome')
        i.icon-th-list
        span.i-name th-list
        span.i-code 59416
    .the-icons(title='Code: 59866, entypo')
        i.icon-thermometer
        span.i-name thermometer
        span.i-code 59866
    .the-icons(title='Code: 59456, fontawesome')
        i.icon-thumbs-down
        span.i-name thumbs-down
        span.i-code 59456
    .the-icons(title='Code: 59796, entypo')
        i.icon-thumbs-down-1
        span.i-name thumbs-down-1
        span.i-code 59796
    .the-icons(title='Code: 59458, fontawesome')
        i.icon-thumbs-down-alt
        span.i-name thumbs-down-alt
        span.i-code 59458
    .the-icons(title='Code: 59455, fontawesome')
        i.icon-thumbs-up
        span.i-name thumbs-up
        span.i-code 59455
    .the-icons(title='Code: 59795, entypo')
        i.icon-thumbs-up-1
        span.i-name thumbs-up-1
        span.i-code 59795
    .the-icons(title='Code: 59457, fontawesome')
        i.icon-thumbs-up-alt
        span.i-name thumbs-up-alt
        span.i-code 59457
    .the-icons(title='Code: 59595, fontawesome')
        i.icon-ticket
        span.i-name ticket
        span.i-code 59595
    .the-icons(title='Code: 59855, entypo')
        i.icon-ticket-1
        span.i-name ticket-1
        span.i-code 59855
    .the-icons(title='Code: 59585, fontawesome')
        i.icon-tint
        span.i-name tint
        span.i-code 59585
    .the-icons(title='Code: 59705, fontawesome')
        i.icon-to-end
        span.i-name to-end
        span.i-code 59705
    .the-icons(title='Code: 60031, entypo')
        i.icon-to-end-1
        span.i-name to-end-1
        span.i-code 60031
    .the-icons(title='Code: 59528, fontawesome')
        i.icon-to-end-alt
        span.i-name to-end-alt
        span.i-code 59528
    .the-icons(title='Code: 59529, fontawesome')
        i.icon-to-start
        span.i-name to-start
        span.i-code 59529
    .the-icons(title='Code: 60032, entypo')
        i.icon-to-start-1
        span.i-name to-start-1
        span.i-code 60032
    .the-icons(title='Code: 59530, fontawesome')
        i.icon-to-start-alt
        span.i-name to-start-alt
        span.i-code 59530
    .the-icons(title='Code: 59962, entypo')
        i.icon-tools
        span.i-name tools
        span.i-code 59962
    .the-icons(title='Code: 59875, entypo')
        i.icon-traffic-cone
        span.i-name traffic-cone
        span.i-code 59875
    .the-icons(title='Code: 59490, fontawesome')
        i.icon-trash
        span.i-name trash
        span.i-code 59490
    .the-icons(title='Code: 59947, entypo')
        i.icon-trash-1
        span.i-name trash-1
        span.i-code 59947
    .the-icons(title='Code: 59679, fontawesome')
        i.icon-trello
        span.i-name trello
        span.i-code 59679
    .the-icons(title='Code: 59820, entypo')
        i.icon-trophy
        span.i-name trophy
        span.i-code 59820
    .the-icons(title='Code: 59607, fontawesome')
        i.icon-truck
        span.i-name truck
        span.i-code 59607
    .the-icons(title='Code: 60037, fontawesome')
        i.icon-try
        span.i-name try
        span.i-code 60037
    .the-icons(title='Code: 59680, fontawesome')
        i.icon-tumblr
        span.i-name tumblr
        span.i-code 59680
    .the-icons(title='Code: 59902, entypo')
        i.icon-tumblr-1
        span.i-name tumblr-1
        span.i-code 59902
    .the-icons(title='Code: 59903, entypo')
        i.icon-tumblr-circled
        span.i-name tumblr-circled
        span.i-code 59903
    .the-icons(title='Code: 59681, fontawesome')
        i.icon-tumblr-squared
        span.i-name tumblr-squared
        span.i-code 59681
    .the-icons(title='Code: 59683, fontawesome')
        i.icon-twitter
        span.i-name twitter
        span.i-code 59683
    .the-icons(title='Code: 59893, entypo')
        i.icon-twitter-1
        span.i-name twitter-1
        span.i-code 59893
    .the-icons(title='Code: 59894, entypo')
        i.icon-twitter-circled
        span.i-name twitter-circled
        span.i-code 59894
    .the-icons(title='Code: 59682, fontawesome')
        i.icon-twitter-squared
        span.i-name twitter-squared
        span.i-code 59682
    .the-icons(title='Code: 59547, fontawesome')
        i.icon-umbrella
        span.i-name umbrella
        span.i-code 59547
    .the-icons(title='Code: 59566, fontawesome')
        i.icon-underline
        span.i-name underline
        span.i-code 59566
    .the-icons(title='Code: 59439, fontawesome')
        i.icon-unlink
        span.i-name unlink
        span.i-code 59439
    .the-icons(title='Code: 59519, fontawesome')
        i.icon-up
        span.i-name up
        span.i-code 59519
    .the-icons(title='Code: 60006, entypo')
        i.icon-up-1
        span.i-name up-1
        span.i-code 60006
    .the-icons(title='Code: 59523, fontawesome')
        i.icon-up-big
        span.i-name up-big
        span.i-code 59523
    .the-icons(title='Code: 60014, entypo')
        i.icon-up-bold
        span.i-name up-bold
        span.i-code 60014
    .the-icons(title='Code: 59732, fontawesome')
        i.icon-up-circled
        span.i-name up-circled
        span.i-code 59732
    .the-icons(title='Code: 59990, entypo')
        i.icon-up-circled-1
        span.i-name up-circled-1
        span.i-code 59990
    .the-icons(title='Code: 59721, fontawesome')
        i.icon-up-circled2
        span.i-name up-circled2
        span.i-code 59721
    .the-icons(title='Code: 59505, fontawesome')
        i.icon-up-dir
        span.i-name up-dir
        span.i-code 59505
    .the-icons(title='Code: 60010, entypo')
        i.icon-up-dir-1
        span.i-name up-dir-1
        span.i-code 60010
    .the-icons(title='Code: 59526, fontawesome')
        i.icon-up-hand
        span.i-name up-hand
        span.i-code 59526
    .the-icons(title='Code: 59511, fontawesome')
        i.icon-up-open
        span.i-name up-open
        span.i-code 59511
    .the-icons(title='Code: 59994, entypo')
        i.icon-up-open-1
        span.i-name up-open-1
        span.i-code 59994
    .the-icons(title='Code: 60002, entypo')
        i.icon-up-open-big
        span.i-name up-open-big
        span.i-code 60002
    .the-icons(title='Code: 59998, entypo')
        i.icon-up-open-mini
        span.i-name up-open-mini
        span.i-code 59998
    .the-icons(title='Code: 60018, entypo')
        i.icon-up-thin
        span.i-name up-thin
        span.i-code 60018
    .the-icons(title='Code: 59459, fontawesome')
        i.icon-upload
        span.i-name upload
        span.i-code 59459
    .the-icons(title='Code: 59798, entypo')
        i.icon-upload-1
        span.i-name upload-1
        span.i-code 59798
    .the-icons(title='Code: 59462, fontawesome')
        i.icon-upload-cloud
        span.i-name upload-cloud
        span.i-code 59462
    .the-icons(title='Code: 59799, entypo')
        i.icon-upload-cloud-1
        span.i-name upload-cloud-1
        span.i-code 59799
    .the-icons(title='Code: 59405, fontawesome')
        i.icon-user
        span.i-name user
        span.i-code 59405
    .the-icons(title='Code: 59762, entypo')
        i.icon-user-1
        span.i-name user-1
        span.i-code 59762
    .the-icons(title='Code: 59764, entypo')
        i.icon-user-add
        span.i-name user-add
        span.i-code 59764
    .the-icons(title='Code: 59633, fontawesome')
        i.icon-user-md
        span.i-name user-md
        span.i-code 59633
    .the-icons(title='Code: 59406, fontawesome')
        i.icon-users
        span.i-name users
        span.i-code 59406
    .the-icons(title='Code: 59763, entypo')
        i.icon-users-1
        span.i-name users-1
        span.i-code 59763
    .the-icons(title='Code: 59940, entypo')
        i.icon-vcard
        span.i-name vcard
        span.i-code 59940
    .the-icons(title='Code: 59409, fontawesome')
        i.icon-video
        span.i-name video
        span.i-code 59409
    .the-icons(title='Code: 59765, entypo')
        i.icon-video-1
        span.i-name video-1
        span.i-code 59765
    .the-icons(title='Code: 59410, fontawesome')
        i.icon-videocam
        span.i-name videocam
        span.i-code 59410
    .the-icons(title='Code: 59891, entypo')
        i.icon-vimeo
        span.i-name vimeo
        span.i-code 59891
    .the-icons(title='Code: 59892, entypo')
        i.icon-vimeo-circled
        span.i-name vimeo-circled
        span.i-code 59892
    .the-icons(title='Code: 60041, fontawesome')
        i.icon-vimeo-squared
        span.i-name vimeo-squared
        span.i-code 60041
    .the-icons(title='Code: 59684, fontawesome')
        i.icon-vkontakte
        span.i-name vkontakte
        span.i-code 59684
    .the-icons(title='Code: 59931, entypo')
        i.icon-vkontakte-1
        span.i-name vkontakte-1
        span.i-code 59931
    .the-icons(title='Code: 59973, entypo')
        i.icon-volume
        span.i-name volume
        span.i-code 59973
    .the-icons(title='Code: 59742, fontawesome')
        i.icon-volume-down
        span.i-name volume-down
        span.i-code 59742
    .the-icons(title='Code: 59741, fontawesome')
        i.icon-volume-off
        span.i-name volume-off
        span.i-code 59741
    .the-icons(title='Code: 59743, fontawesome')
        i.icon-volume-up
        span.i-name volume-up
        span.i-code 59743
    .the-icons(title='Code: 59856, entypo')
        i.icon-water
        span.i-name water
        span.i-code 59856
    .the-icons(title='Code: 59685, fontawesome')
        i.icon-weibo
        span.i-name weibo
        span.i-code 59685
    .the-icons(title='Code: 60039, fontawesome')
        i.icon-wheelchair
        span.i-name wheelchair
        span.i-code 60039
    .the-icons(title='Code: 59985, entypo')
        i.icon-window
        span.i-name window
        span.i-code 59985
    .the-icons(title='Code: 59686, fontawesome')
        i.icon-windows
        span.i-name windows
        span.i-code 59686
    .the-icons(title='Code: 59615, fontawesome')
        i.icon-won
        span.i-name won
        span.i-code 59615
    .the-icons(title='Code: 59709, fontawesome')
        i.icon-wrench
        span.i-name wrench
        span.i-code 59709
    .the-icons(title='Code: 59687, fontawesome')
        i.icon-xing
        span.i-name xing
        span.i-code 59687
    .the-icons(title='Code: 59688, fontawesome')
        i.icon-xing-squared
        span.i-name xing-squared
        span.i-code 59688
    .the-icons(title='Code: 59613, fontawesome')
        i.icon-yen
        span.i-name yen
        span.i-code 59613
    .the-icons(title='Code: 59689, fontawesome')
        i.icon-youtube
        span.i-name youtube
        span.i-code 59689
    .the-icons(title='Code: 59691, fontawesome')
        i.icon-youtube-play
        span.i-name youtube-play
        span.i-code 59691
    .the-icons(title='Code: 59690, fontawesome')
        i.icon-youtube-squared
        span.i-name youtube-squared
        span.i-code 59690
    .the-icons(title='Code: 59718, fontawesome')
        i.icon-zoom-in
        span.i-name zoom-in
        span.i-code 59718
    .the-icons(title='Code: 59719, fontawesome')
        i.icon-zoom-out
        span.i-name zoom-out
        span.i-code 59719
