.atk-layout-row
  footer#atk-footer.atk-padding-small.atk-text-dimmed.atk-text-center.do-theme-switch
    strong Theme switch:
    span.atk-sep
    a(href='javascript:void(0)', data-file='style.css') Fluid layout
    span.atk-sep ⋅
    a(href='javascript:void(0)', data-file='style-fixed.css') Fixed width
    span.atk-sep ⋅
    a(href='javascript:void(0)', data-file='style-compact.css') Compact