.layout-row.swatch-ink
  .layout-cell
    .wrapper
      .bar.cells.cells-gutter
        .cell
          a.size-mega(href='/')
            strong Agile
            | &nbsp;
            span.label.swatch-yellow CSS
        .cell.expand
          ul.menu-horizontal
            li
              a.swatch-ink.padding-all(href='index.html') Playground
            li
              a.swatch-ink.padding-all(href='docs/icons.html') Icons
            li
              a.swatch-ink.padding-all(href='layouts.html') Layouts
            li
              a.swatch-ink.padding-all(href='examples.html') Examples
        .cell.text-right
          ul.menu-horizontal
            li
              a.swatch-ink.padding-all(href='https://github.com/atk4/agiletoolkit-css')
                span.icon-github
                | &nbsp;GitHub
            li
              a.swatch-ink.padding-all(href='https://twitter.com/atk4')
                span.icon-twitter
                | &nbsp;Twitter