head
  meta(charset='utf-8')
  <!--[if IE]><!-->
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  <!--<![endif]-->
  title Agile Toolkit CSS
  meta(name='description', content='')
  link(rel='stylesheet', href='css/theme.css')