head
  meta(charset='utf-8')
  <!--[if IE]><!-->
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  <!--<![endif]-->
  title Agile Toolkit CSS
  meta(name='description', content='')
  //- link(href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='../css/playground-theme.css')