.atk-layout-row.atk-swatch-ink
  .atk-wrapper
    .atk-bar.atk-cells.atk-cells-gutter
      .atk-cell
        a.atk-size-mega(href='/')
          strong AgileToolkit
          | &nbsp;
          span.atk-label.atk-swatch-yellow CSS
      .atk-cell.atk-jackscrew
        ul.atk-menu-horizontal
          li
            a.atk-swatch-ink.atk-padding(href='/') Playground
          li
            a.atk-swatch-ink.atk-padding(href='layouts.html') Layouts
          li
            a.atk-swatch-ink.atk-padding(href='examples.html') Examples
      .atk-cell.atk-align-right
        ul.atk-menu-horizontal
          li
            a.atk-swatch-ink.atk-padding(href='https://github.com/atk4/agiletoolkit-css')
              span.icon-github
              | &nbsp;GitHub
          li
            a.atk-swatch-ink.atk-padding(href='https://twitter.com/atk4')
              span.icon-twitter
              | &nbsp;Twitter