section#grid-system
  h2 Grid System
  p
    | Our grid system is based on 
    a(href='http://www.gridpak.com') Gridpak
    |  tool which allows you to add as many columns as needed. It also supports responsiveness.
  .row.atk-push-small
    .span_3.col
      .atk-box-small .col.span_3
    .span_3.col
      .atk-box-small .col.span_3
    .span_3.col
      .atk-box-small .col.span_3
    .span_3.col
      .atk-box-small .col.span_3
  .row.atk-push-small
    .span_4.col
      .atk-box-small .col.span_4
    .span_4.col
      .atk-box-small .col.span_4
    .span_4.col
      .atk-box-small .col.span_4
  .row
    .span_6.col
      .atk-box-small .col.span_6
    .span_6.col
      .atk-box-small .col.span_6