section#helpers
  h2 Helpers
  p 
    | Helper&nbsp;
    span.atk-label.atk-effect-info .atk-cells
    | &nbsp;combined with&nbsp;
    span.atk-label.atk-effect-info .atk-cells-justfied
    | ,&nbsp;
    span.atk-label.atk-effect-info .atk-cells-gutter
    | &nbsp;options.
  .atk-box
    h3 2 Justified Cells
    .atk-cells.atk-cells-gutter.atk-cells-justified
        .atk-cell
          .atk-swatch-blue.atk-box Cell
        .atk-cell
          .atk-swatch-green.atk-box Cell
    h3 3 Justfied Cells
    .atk-cells.atk-cells-gutter.atk-cells-justified
        .atk-cell
          .atk-swatch-ink.atk-box Cell
        .atk-cell
          .atk-swatch-red.atk-box Cell
        .atk-cell
          .atk-swatch-yellow.atk-box Cell