section#widgets
  h2 Widgets
  h3 Media Blocks
  p
    span.label.effect-warning
      span.icon-attention
    | &nbsp;Combination of&nbsp;
    a.label.effect-info(href='#colors') .swatch-*
    | ,&nbsp;
    span.label.effect-info .box
    | &nbsp;and&nbsp;
    span.label.effect-info .cells
    | &nbsp;components.
  #example-widgets-mediablocks.box
    .row.push
      .col-6
        .cells.cells-gutter-large.box.swatch-green
          .cell
            img(src='temp/apples.jpg', alt='Apples')
          .cell.jackscrew
            h4 Apples
            p.push-small
              | Curabitur posuere vehicula scelerisque. Quisque vitae velit ante. Sed vel euismod est. Sed eu libero quis justo aliquet condimentum. Maecenas dictum, tortor vehicula.
            .actions-large
              a(href='javascript:void(0)')
                span.icon-down-circled-1
                | &nbsp;Download
              a(href='javascript:void(0)')
                span.icon-trash
                | &nbsp;Delete
        .cells.cells-gutter-large.box.swatch-red
          .cell
            img(src='temp/tomatoes.jpg', alt='Tomatoes')
          .cell.jackscrew
            h4 Tomatoes
            p.push-small
              | Curabitur posuere vehicula scelerisque. Quisque vitae velit ante. Sed vel euismod est. Sed eu libero quis justo aliquet condimentum. Maecenas dictum, tortor vehicula.
            .actions-large
              a(href='javascript:void(0)')
                span.icon-down-circled-1
                | &nbsp;Download
              a(href='javascript:void(0)')
                span.icon-trash
                | &nbsp;Delete
      .col-6
        .cells.cells-gutter-large.box.swatch-yellow.valign-top
          .cell
            img(src='temp/bananas.jpg', alt='Bananas')
          .cell.jackscrew
            h4 Bananas
            p.push-small
              | Curabitur posuere vehicula scelerisque. Quisque vitae velit ante. Sed vel euismod est. Sed eu libero quis justo aliquet condimentum. Maecenas dictum, tortor vehicula.
            .actions
              a(href='javascript:void(0)')
                span.icon-down-circled-1
                | &nbsp;Download
              a(href='javascript:void(0)')
                span.icon-trash
                | &nbsp;Delete
        .cells.cells-gutter-large.box.swatch-blue
          .cell
            img(src='temp/blueberries.jpg', alt='Blueberries')
          .cell.jackscrew
            h4 Blueberries
            p.push-small
              | Curabitur posuere vehicula scelerisque. Quisque vitae velit ante. Sed vel euismod est. Sed eu libero quis justo aliquet condimentum. Maecenas dictum, tortor vehicula.
            .actions-large
              a(href='javascript:void(0)')
                span.icon-down-circled-1
                | &nbsp;Download
              a(href='javascript:void(0)')
                span.icon-trash
                | &nbsp;Delete
  h3 Tables
  // [Widget] Table
  p
    | Basic&nbsp;
    span.label.effect-info .table
    | &nbsp;widget.
  .box
    .table
      table
        thead
          tr
            th
              input(type='checkbox')
            th Name
            th Description
            th Actions
        tbody
          tr
            td
              input(type='checkbox')
            td.text-nowrap Brian O'Connell
            td.jackscrew.text-dimmed Nullam convallis ipsum nec lacus pharetra congue.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap Danny Brown
            td.jackscrew.text-dimmed Cras faucibus dui eget nunc commodo, vitae condimentum quam pharetra.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap John Smith
            td.jackscrew.text-dimmed Sed varius nulla sodales hendrerit eleifend.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap Satya Nadella
            td.jackscrew.text-dimmed Aliquam rhoncus turpis felis, ac tempor nulla pulvinar id.
            td.align-center
              a(href='javascript:void(0)') Edit
  // [Widget] Table: Zebra
  p
    span.label.effect-info .table
    | &nbsp;widget with&nbsp;
    span.label.effect-info .table-zebra
    | &nbsp;class on.
  .box
    .table-hover-zebra
      table
        thead
          tr
            th
              input(type='checkbox')
            th Name
            th Description
            th Actions
        tbody
          tr
            td
              input(type='checkbox')
            td.text-nowrap Brian O'Connell
            td.jackscrew.text-dimmed Nullam convallis ipsum nec lacus pharetra congue.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap Danny Brown
            td.jackscrew.text-dimmed Cras faucibus dui eget nunc commodo, vitae condimentum quam pharetra.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap John Smith
            td.jackscrew.text-dimmed Sed varius nulla sodales hendrerit eleifend.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap Satya Nadella
            td.jackscrew.text-dimmed Aliquam rhoncus turpis felis, ac tempor nulla pulvinar id.
            td.align-center
              a(href='javascript:void(0)') Edit
  // [Widget] Table: Bordered
  p
    span.label.effect-info .table
    | &nbsp;widget with&nbsp;
    span.label.effect-info .table-outline
    | &nbsp;class on.
  .box
    .table.table-outline
      table
        thead
          tr
            th
              input(type='checkbox')
            th Name
            th Description
            th Actions
        tbody
          tr
            td
              input(type='checkbox')
            td.text-nowrap Brian O'Connell
            td.jackscrew.text-dimmed Nullam convallis ipsum nec lacus pharetra congue.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap Danny Brown
            td.jackscrew.text-dimmed Cras faucibus dui eget nunc commodo, vitae condimentum quam pharetra.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap John Smith
            td.jackscrew.text-dimmed Sed varius nulla sodales hendrerit eleifend.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap Satya Nadella
            td.jackscrew.text-dimmed Aliquam rhoncus turpis felis, ac tempor nulla pulvinar id.
            td.align-center
              a(href='javascript:void(0)') Edit
  // [Widget] Table: Bordered
  p
    span.label.effect-info .table
    | &nbsp;widget with&nbsp;
    span.label.effect-info .table-bordered
    | &nbsp;class on.
  .box
    .table.table-bordered
      table
        thead
          tr
            th
              input(type='checkbox')
            th Name
            th Description
            th Actions
        tbody
          tr
            td
              input(type='checkbox')
            td.text-nowrap Brian O'Connell
            td.jackscrew.text-dimmed Nullam convallis ipsum nec lacus pharetra congue.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap Danny Brown
            td.jackscrew.text-dimmed Cras faucibus dui eget nunc commodo, vitae condimentum quam pharetra.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap John Smith
            td.jackscrew.text-dimmed Sed varius nulla sodales hendrerit eleifend.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap Satya Nadella
            td.jackscrew.text-dimmed Aliquam rhoncus turpis felis, ac tempor nulla pulvinar id.
            td.align-center
              a(href='javascript:void(0)') Edit
  // [Widget] Table: With Expander
  p
    span.label.effect-info .table
    | &nbsp;widget with&nbsp;
    span.label.effect-info .table-expander
    | . Click on a table row to expand it.
  #table-expander.box
    .table.table-outline
      table
        thead
          tr
            th Name
            th Description
            th Actions
        tbody
          tr
            td.text-nowrap
              a.icon-right-dir(href='javascript:void(0)')
              | &nbsp;Brian O'Connell
            td.jackscrew.text-dimmed Nullam convallis ipsum nec lacus pharetra congue.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr.table-expander
            td.padding.swatch-gray.text-inherit(colspan='3')
              h4 Compact Form
              form.form.cells-group.cells-gutter-large
                .cells.push-small
                  .cell.text-nowrap
                    label.input-label
                      strong Input:
                  .cell.jackscrew
                    input(type="text",size="9")
                .cells.push-small
                  .cell.text-nowrap
                    label.input-label
                      strong Password:
                  .cell.jackscrew
                    input(type="password",class="jackscrew")
                .cells
                  .cell 
                  .cell.actions.jackscrew
                    button.button Submit
                    button.button Cancel
          tr
            td.text-nowrap
              a.icon-right-dir(href='javascript:void(0)')
              | &nbsp;Danny Brown
            td.jackscrew.text-dimmed Cras faucibus dui eget nunc commodo, vitae condimentum quam pharetra.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr.table-expander
            td.padding.swatch-gray.text-inherit(colspan='3')
              h4 Compact Form
              form.form.cells-group.cells-gutter-large
                .cells.push-small
                  .cell.text-nowrap
                    label.input-label
                      strong Input:
                  .cell.jackscrew
                    input(type="text",size="9")
                .cells.push-small
                  .cell.text-nowrap
                    label.input-label
                      strong Password:
                  .cell.jackscrew
                    input(type="password",class="jackscrew")
                .cells
                  .cell 
                  .cell.actions.jackscrew
                    button.button Submit
                    button.button Cancel
          tr
            td.text-nowrap
              a.icon-right-dir(href='javascript:void(0)')
              | &nbsp;John Smith
            td.jackscrew.text-dimmed Sed varius nulla sodales hendrerit eleifend.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr.table-expander
            td.padding.swatch-gray.text-inherit(colspan='3')
              h4 Compact Form
              form.form.cells-group.cells-gutter-large
                .cells.push-small
                  .cell.text-nowrap
                    label.input-label
                      strong Input:
                  .cell.jackscrew
                    input(type="text",size="9")
                .cells.push-small
                  .cell.text-nowrap
                    label.input-label
                      strong Password:
                  .cell.jackscrew
                    input(type="password",class="jackscrew")
                .cells
                  .cell 
                  .cell.actions.jackscrew
                    button.button Submit
                    button.button Cancel
          tr
            td.text-nowrap
              a.icon-right-dir(href='javascript:void(0)')
              | &nbsp;Satya Nadella
            td.jackscrew.text-dimmed Aliquam rhoncus turpis felis, ac tempor nulla pulvinar id.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr.table-expander
            td.padding.swatch-gray.text-inherit(colspan='3')
              h4 Compact Form
              form.form.cells-group.cells-gutter-large
                .cells.push-small
                  .cell.text-nowrap
                    label.input-label
                      strong Input:
                  .cell.jackscrew
                    input(type="text",size="9")
                .cells.push-small
                  .cell.text-nowrap
                    label.input-label
                      strong Password:
                  .cell.jackscrew
                    input(type="password",class="jackscrew")
                .cells
                  .cell 
                  .cell.actions.jackscrew
                    button.button Submit
                    button.button Cancel
  // [Widget] Table: With Panels
  p
    span.label.effect-info .table
    | &nbsp;widget combined with&nbsp;
    span.label.effect-info .box
    | &nbsp;component.
  .box
    .table.table-zebra.table-bordered
      .box-small
        span.input-icon.move-right
          input(type='text', placeholder='Search')
          a.icon-search.swatch-ink(href='javascript:void(0)')
        .actions
          button.button Add
          button.button.effect-danger Delete
      table
        thead
          tr
            th
              input(type='checkbox')
            th.text-nowrap.table-sort
              a(href='javascript:void(0)')
                span.icon-down-dir
                | Name
            th Description
            th Actions
        tbody
          tr
            td
              input(type='checkbox')
            td.text-nowrap Brian O'Connell
            td.jackscrew.text-dimmed Nullam convallis ipsum nec lacus pharetra congue.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap Danny Brown
            td.jackscrew.text-dimmed Cras faucibus dui eget nunc commodo, vitae condimentum quam pharetra.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap John Smith
            td.jackscrew.text-dimmed Sed varius nulla sodales hendrerit eleifend.
            td.align-center
              a(href='javascript:void(0)') Edit
          tr
            td
              input(type='checkbox')
            td.text-nowrap Satya Nadella
            td.jackscrew.text-dimmed Aliquam rhoncus turpis felis, ac tempor nulla pulvinar id.
            td.align-center
              a(href='javascript:void(0)') Edit
      .box-small.actions.align-center
        a(href='javascript:void(0)') « Prev
        a(href='javascript:void(0)') 1
        a(href='javascript:void(0)') 2
        strong 3
        a(href='javascript:void(0)') 4
        a(href='javascript:void(0)') 5
        a(href='javascript:void(0)') Next »
  // [Widget] Table: No Results
  p
    span.label.effect-info .table
    | &nbsp;combined with&nbsp;
    span.label.effect-info .label
    | &nbsp;component.
  .box
    .table.table-bordered
      .box-small
        span.input-icon.move-right
          input(type='text', placeholder='Search')
          a.icon-search.swatch-ink(href='javascript:void(0)')
        .actions
          button.button Add
          button.button.effect-danger Delete
      table
        tbody
          tr
            td.padding-large.align-center
              span.label.effect-warning
                span.icon-attention
                | &nbsp;No results found.
  h4 Navigation Bar
  p
    | Combination of&nbsp;
    span.label.effect-info .cells
    | ,&nbsp;
    span.label.effect-info .swatch-*
    | &nbsp;and&nbsp;
    span.label.effect-info .padding
    | &nbsp;components. The best used as a header on a fluid page.
  .box
    .bar.cells.cells-gutter-large.swatch-ink.padding-small
      .cell
        a.size-kilo(href='javascript:void(0)')
          strong Logo
      .cell.jackscrew
        ul.menu-horizontal
          li.state-active
            a.padding-small(href='javascript:void(0)') Item 1
          li
            a.padding-small(href='javascript:void(0)')
              | Item 2&nbsp;
              span.label.size-milli.shape-rounded.swatch-green 12
          li
            a.padding-small(href='javascript:void(0)') Item 3
      .cell.text-nowrap
        .actions
          a.label.swatch-yellow(href='javascript:void(0)') Upgrade
          span.sep ⋅
          a(href='javascript:void(0)') Help
      .cell.text-nowrap
        .cells.cells-gutter-small
          .cell.text-reset
            img.shape-circle(src='temp/apples.jpg', alt='Apples', width='32')
          .cell
            | John Smith&nbsp;
            span.icon-down-dir
  h4 Boxed Navigation Bar
  p
    | Combination of&nbsp;
    span.label.effect-info .cells
    | ,&nbsp;
    span.label.effect-info .swatch-*
    | &nbsp;and&nbsp;
    span.label.effect-info .box
    | &nbsp;components. The best used as a boxed type header.
  .box
    .bar.cells.cells-gutter-large.swatch-ink.box-small
      .cell
        a.size-kilo(href='javascript:void(0)')
          strong Logo
      .cell.jackscrew
        ul.menu-horizontal
          li.state-active
            a.padding-small(href='javascript:void(0)') Item 1
          li
            a.padding-small(href='javascript:void(0)') Item 2
          li
            a.padding-small(href='javascript:void(0)') Item 3
      .cell.text-nowrap
        .actions
          a.label.swatch-yellow(href='javascript:void(0)') Upgrade
          span.sep ⋅
          a(href='javascript:void(0)') Help
      .cell.text-nowrap
        .cells.cells-gutter-small
          .cell.text-reset
            img.shape-circle(src='temp/apples.jpg', alt='Apples', width='32')
          .cell
            | John Smith&nbsp;
            span.icon-down-dir
  h4 Fixed Navigation Bar
  p
    span.label.effect-warning
      span.icon-attention
    | &nbsp;Combination of&nbsp;
    span.label.effect-info .cells
    | ,&nbsp;
    span.label.effect-info .swatch-*
    | &nbsp;and&nbsp;
    span.label.effect-info .section-*
    | &nbsp;components. The best used as a header on a fixed page.
  .box
    .swatch-ink
      .move-center.col-8
        .bar.cells.cells-gutter.section-small
          .cell
            a.size-kilo(href='javascript:void(0)')
              strong Logo
          .cell.jackscrew
            ul.menu-horizontal
              li.state-active
                a.padding-small(href='javascript:void(0)') Item 1
              li
                a.padding-small(href='javascript:void(0)') Item 2
              li
                a.padding-small(href='javascript:void(0)') Item 3
          .cell.text-nowrap
            .actions
              a.label.swatch-yellow(href='javascript:void(0)') Upgrade
              span.sep ⋅
              a(href='javascript:void(0)') Help
  // [Widget] Popovers          
  h3 Popovers
  p
    span.label.effect-info .popover
  #example-widgets-popover
    .push.row
      .col-4
        .box
          .popover.popover-top-left.box.align-center.size-kilo
            | .popover-top-left
            .popover-arrow
      .col-4
        .box
          .popover.popover-top-center.box.align-center.size-kilo.swatch-blue
            | .popover-top-center
            .popover-arrow
      .col-4
        .box
          .popover.popover-top-right.box.align-center.size-kilo.swatch-ink
            | .popover-top-right
            .popover-arrow
    .row.pushv
      .col-4
        .box
          .popover.popover-bottom-left.box.align-center.size-kilo.swatch-yellow
            | .popover-bottom-left
            .popover-arrow
      .col-4
        .box
          .popover.popover-bottom-center.box.align-center.size-kilo.swatch-red
            | .popover-bottom-center
            .popover-arrow
      .col-4
        .box
          .popover.popover-bottom-right.box.align-center.size-kilo.swatch-green
            | .popover-bottom-right
            .popover-arrow

  h3 Banners
  p
    span.label.effect-info .banner
  .box.actions.inline
    button.button#banner-loader-start Show Loader
    button.button#banner-notification-start Show Notification
  .banner.cells#banner-loader
    .cell.align-center.valign-middle
      .box.inline.size-zetta.banner-cogs
  .banner.cells#banner-notification
    .cell.align-center.valign-middle
      .box.inline(style="width:180px")
        .icon-mail-alt.size-yotta.push-small.text-baseline-reset
        .text-bold.text-lead Verification link sent to your email