section#grid-system
  h2 Grid System
  p
    | Our responsive grid system.
  .atk-row.atk-push-small
    .atk-col-3
      .atk-box-small 
        | .atk-col-3
        br
        | test
    .atk-col-3
      .atk-box-small .atk-col-3
    .atk-col-3
      .atk-box-small .atk-col-3
    .atk-col-3
      .atk-box-small .atk-col-3
  .atk-row.atk-push-small
    .atk-col-4
      .atk-box-small .atk-col-4
    .atk-col-4
      .atk-box-small .atk-col-4
    .atk-col-4
      .atk-box-small .atk-col-4
  .atk-row.atk-push-small
    .atk-col-6
      .atk-box-small .atk-col-6
    .atk-col-6
      .atk-box-small .atk-col-6