section#grid-system
  h2 Grid System
  p
    | Our responsive grid system.
  .row.margin-bottom--s
    .col-3
      .box.padding-all--s .col-3
    .col-3
      .box.padding-all--s .col-3
    .col-3
      .box.padding-all--s .col-3
    .col-3
      .box.padding-all--s .col-3
  .row.margin-bottom--s
    .col-4
      .box.padding-all--s .col-4
    .col-4
      .box.padding-all--s .col-4
    .col-4
      .box.padding-all--s .col-4
  .row.margin-bottom--s
    .col-6
      .box.padding-all--s .col-6
    .col-6
      .box.padding-all--s .col-6