section#forms
  h2 Forms
  h3 Regular Form
  .box.col-6
    form.form.cells-group.cells-gutter-large.align-top
      .cells.margin-bottom
        .cell.text-nowrap
          label.input-label 
            strong Input:
        .cell.expand
          input(type="text",size="9",class="margin-bottom--xs")
          div.text-dimmed.size-milli Some Text
      .cells.margin-bottom
        .cell.text-nowrap
          label.input-label 
            strong Password:
        .cell.expand
          input(type="password",class="expand margin-bottom--xs")
      .cells.margin-bottom
        .cell.text-nowrap
          label.input-label
            strong About:
        .cell.expand
          textarea
      .cells.margin-bottom
        .cell
        .cell.expand
          .input-radio.margin-bottom--xs
              span
                input(type='checkbox')
                label
                  | Accept 
                  a(href='#') Terms &amp; Conditions
                  | .
          p.effect-danger
            span.icon-attention
            | &nbsp;Please accept Terms &amp; Conditions to continue.
      .cells
        .cell 
        .cell.items-spacing--xs.expand
          button.button Submit
          button.button Cancel

  h3 Compact Form
  .box.col-6
    form.form.cells-group-spacing--l
      .cells.margin-bottom--s
        .cell.text-nowrap
          label.input-label
            strong Input:
        .cell.expand
          input(type="text",size="9")
      .cells.margin-bottom--s
        .cell.text-nowrap
          label.input-label
            strong Password:
        .cell.expand
          input(type="password",class="expand")
      .cells
        .cell 
        .cell.items-spacing--xs.expand
          button.button Submit
          button.button Cancel
  h3 Stacked Form
  .box.col-6
    form.form
      .margin-bottom--xs
        label
          strong Input:
      .margin-bottom
        input(type='text',class='expand')
      .margin-bottom--xs
        label
          strong Password:
      .margin-bottom
        input(type='password',class='expand')
      .items-spacing--xs
        button.button Okay
        button.button Cancel

  h3 Stacked Compact Form
  .box.col-10
    form.form
      .margin-bottom--s
        div.margin-bottom--s
          label
            strong Input:
        input(type='text',class='expand')
      .margin-bottom--s.effect-danger
        div.margin-bottom--xs
          label
             strong Password:
        input(type='password',class='expand margin-bottom--xs')
        p
          span.icon-attention
          | &nbsp;This is error
      .cells.margin-bottom--s.cells-gutter-small.effect-danger
        .cell
          input(type="text")
        .cell
          select
            option Option #1
            option Option #2
      .items-spacing--xs
        button.button Okay
        button.button Cancel
  h3 Minimal Form
  .box.col-3
    form.form
      .margin-bottom--xs
        input(type='text',class='expand',placeholder="Username")
      .margin-bottom--xs
        input(type='password',class='expand',placeholder="Password")
      button.button.swatch-green.expand Okay
  //- h3 Hybrid Form
  //- p
  //-   span.label.effect-info .form-hybrid
  //-   | &nbsp;allows to assign&nbsp;
  //-   span.label.effect-info .form-*
  //-   | &nbsp;classes to&nbsp;
  //-   span.label.effect-info .form-fieldset
  //-   | .
  //- .box.col-6
  //-   .form.form-hybrid
  //-     form
  //-       .form-fieldset
  //-         .cells.cells-gutter-large
  //-           .cell
  //-             label Input:
  //-           .cell.expand
  //-             input(type='text')
  //-         .cells.cells-gutter-large
  //-           .cell
  //-             label Password:
  //-           .cell
  //-             span.input-icon
  //-               input(type='password')
  //-               a.icon-help-circled-1(href='javascript:void(0)')
  //-       .form-fieldset.form-stacked
  //-         .cells
  //-           .cell
  //-             label Textarea:
  //-           .cell.expand
  //-             textarea(rows='3')
  //-       .cells
  //-         .cell
  //-         .cell.items-spacing--xs
  //-           button.button Okay
  //-           button.button Cancel
  //- p
  //-   span.label.effect-info .form-fieldset
  //-   | &nbsp;and&nbsp;
  //-   span.label.effect-info .items-spacing--xs
  //-   | &nbsp;combined with grid system's&nbsp;
  //-   span.label.effect-info .col-*
  //-   | &nbsp;classes.
  //- .box
  //-   .form.form-hybrid
  //-     form.row
  //-       .form-fieldset.col-6
  //-         .cells.cells-gutter-large
  //-           .cell
  //-             label
  //-               | Input:
  //-               span.form-mandatory *
  //-               | :
  //-           .cell.expand
  //-             input(type='text')
  //-         .cells.cells-gutter-large
  //-           .cell
  //-             label Password:
  //-           .cell
  //-             span.input-icon
  //-               input(type='password')
  //-               a.icon-help-circled-1(href='javascript:void(0)')
  //-         .cells.cells-gutter-large
  //-           .cell
  //-             label Dropdown:
  //-           .cell
  //-             select(name='speed')
  //-               option(value='Slower') Slower
  //-               option(value='Slow') Slow
  //-               option(value='Medium', selected='selected') Medium Roast
  //-               option(value='Fast') Fast
  //-               option(value='Faster') Faster
  //-         .cells.cells-gutter-large
  //-           .cell.text-nowrap
  //-             span.label.effect-warning
  //-               span.icon-attention
  //-             label Combo Input #1:
  //-           .cell.expand
  //-             .cells.input-combo
  //-               .cell
  //-                 a.button(href='javascript:void(0)')
  //-                   span.icon-plus-1
  //-               .cell.expand
  //-                 input(type='text')
  //-         .cells.cells-gutter-large
  //-           .cell.text-nowrap
  //-             label Combo Input #2:
  //-           .cell.expand
  //-             .cells.input-combo
  //-               .cell.expand
  //-                 input(type='text')
  //-               .cell
  //-                 a.button(href='javascript:void(0)')
  //-                   span.icon-calendar
  //-         .cells.cells-gutter-large
  //-           .cell
  //-             label Combo Input #3:
  //-           .cell.expand
  //-             .cells.input-combo
  //-               .cell
  //-                 a.button(href='javascript:void(0)')
  //-                   span.icon-minus-1
  //-               .cell.expand
  //-                 input(type='text')
  //-               .cell
  //-                 a.button(href='javascript:void(0)')
  //-                   span.icon-plus-1
  //-               .cell
  //-                 a.button(href='javascript:void(0)')
  //-                   span.icon-trash
  //-         .cells.cells-gutter-large
  //-           .cell
  //-             label Textarea:
  //-           .cell
  //-             textarea(rows='3')
  //-         .cells.cells-gutter-large
  //-           .cell
  //-             label Checkbox:
  //-           .cell.expand
  //-             .input-radio
  //-               span
  //-                 input(type='checkbox')
  //-                 label
  //-                   | Pellentesque a ligula dignissim, accumsan est sit amet, aliquet risus. Phasellus eget rutrum diam. Cras condimentum ornare dapibus.
  //-         .cells.cells-gutter-large
  //-           .cell
  //-             label
  //-               | Input
  //-               span.form-mandatory *
  //-               | :
  //-           .cell.expand
  //-             input(type='text')
  //-             p.text-dimmed This is a form Comment.
  //-         .cells.cells-gutter-large.form-error
  //-           .cell.text-nowrap
  //-             label Input with error:
  //-           .cell.expand
  //-             input(type='text')
  //-             p.effect-danger This is a form error.
  //-       .form-fieldset.form-stacked.col-6
  //-         .cells
  //-           .cell
  //-             label File Upload:
  //-           .cell
  //-             input(type='file')
  //-         .cells
  //-           .cell
  //-             label Textarea:
  //-           .cell
  //-             textarea(rows='5')
  //-         .cells
  //-           .cell
  //-             label Horizontal Radio Buttons:
  //-           .cell
  //-             .input-radio
  //-               span
  //-                 input(type='radio')
  //-                 label Blueberry
  //-               span
  //-                 input(type='radio')
  //-                 label Raspberry
  //-               span
  //-                 input(type='radio')
  //-                 label Strawberry
  //-               span
  //-                 input(type='radio')
  //-                 label Cherry
  //-               span
  //-                 input(type='radio')
  //-                 label Cranberry
  //-               span
  //-                 input(type='radio')
  //-                 label Gooseberry
  //-         .cells
  //-           .cell
  //-             label Vertical Radio Buttons:
  //-           .cell
  //-             .input-radio.input-radio-stacked
  //-               span
  //-                 input(type='radio')
  //-                 label Blueberry
  //-               span
  //-                 input(type='radio')
  //-                 label Raspberry
  //-               span
  //-                 input(type='radio')
  //-                 label Strawberry
  //-               span
  //-                 input(type='radio')
  //-                 label Cherry
  //-               span
  //-                 input(type='radio')
  //-                 label Cranberry
  //-               span
  //-                 input(type='radio')
  //-                 label Gooseberry
  //-         .cells
  //-           .cell
  //-             label
  //-               | Vertical Radio Buttons with
  //-               span.label.effect-info .cells
  //-               | component:
  //-           .cell
  //-             .input-radio.input-radio-stacked.cells
  //-               .cell
  //-                 span
  //-                   input(type='radio')
  //-                   label Blueberry
  //-                 span
  //-                   input(type='radio')
  //-                   label Raspberry
  //-                 span
  //-                   input(type='radio')
  //-                   label Strawberry
  //-               .cell
  //-                 span
  //-                   input(type='radio')
  //-                   label Cherry
  //-                 span
  //-                   input(type='radio')
  //-                   label Cranberry
  //-                 span
  //-                   input(type='radio')
  //-                   label Gooseberry
  //-       .col-12.items-spacing--xs.text-right
  //-         hr
  //-         button.button.button-blank Cancel
  //-         button.button.swatch-green Okay