section#typography
  h2 Typography
  p
    | Few 
    span.label.effect-info
      = '<p>'
    |  paragraphs of text.
  .box
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel nisl sit amet nisi eleifend auctor. In consectetur leo ante, sed rutrum nulla pretium id. Vivamus porttitor convallis nisl non vulputate. Donec et tellus non ipsum consectetur rutrum in a quam.
    p
      | Praesent ultricies magna et ultrices aliquet. Vivamus posuere sapien erat, at pretium nulla lacinia nec. Etiam eget mollis nisl, non lobortis ante. Nulla erat tortor, faucibus id vehicula in, adipiscing non nulla. Ut pharetra erat hendrerit odio consequat porta. Suspendisse tempus id mi non facilisis.
  p
    span.label.effect-warning
      span.icon-attention
    |  Preformatted 
    span.label.effect-info
      = '<pre>'
    |  text.
  .box
    pre
      | body {
      |   background:#fff;
      | }
  p
    span.label.effect-warning
      span.icon-attention
    | 
    span.label.effect-info
      = "<code>"
  .box
    code
      | body {
      | background: #ffffff;
      | }
  p
    span.label.effect-warning
      span.icon-attention
    |  Use 
    span.label.effect-info
      = "<blockquote>"
    |  to indicate a block of quoted text.
  .box
    blockquote “Nam quis bibendum erat, ut cursus leo.”
  .row.push
    .col-8.col
      h3 Font Scale
      p
        | Font scale classes 
        span.label.effect-info .size-*
        |  can be assigned to any element. Use 
        span.label.effect-info .size-reset
        |  to reset font size to the default body size if necessary.
      .box
        .size-yotta .size-yotta
        .size-zetta .size-zetta
        .size-exa .size-exa
        .size-peta .size-peta
        .size-tera .size-tera
        .size-giga .size-giga
        .size-mega .size-mega
        .size-kilo .size-kilo
        .size-reset .size-reset
        .size-milli .size-milli
        .size-micro .size-micro
    .col-4.col
      h3 Headings
      p
        | Headings 
        span.label.effect-info
          = "<h>"
        |  are based on the font scale.
      br
      .box
        h1 Heading h1
        h2 Heading h2
        h3 Heading h3
        h4 Heading h4
        h5 Heading h5
        h6 Heading h6
  h3 Undocumented classes
  p .text-lead, .text-bold, .text-normal, .text-dimmed, .text-nowrap, .text-reset, .text-baseline-reset, .text-ellipsis
  h4 Classes for HR
  p .hr-small, .hr-large, .hr-dotted, .hr-reset