script(src='../js/jquery-2.1.4.min.js')
script(src='../js/jquery-ui/core.js')
script(src='../js/jquery-ui/widget.js')
script(src='../js/jquery-ui/position.js')
script(src='../js/jquery-ui/menu.js')
script(src='../js/jquery-ui/tabs.js')
script(src='../js/jquery-ui/datepicker.js')
script(src='../js/jquery-ui/selectmenu.js')
script(src='../js/jquery-ui/accordion.js')
script(src='../js/jquery-ui/dialog.js')
script(src='../js/jquery-ui/button.js')
script(src='../js/jquery-ui/tooltip.js')
script(src='../js/highlight.pack.js')
script(src='../js/demo.js')