script(src='js/jquery.min.js')
script(src='js/core.js')
script(src='js/widget.js')
script(src='js/position.js')
script(src='js/menu.js')
script(src='js/tabs.js')
script(src='js/datepicker.js')
script(src='js/selectmenu.js')
script(src='js/accordion.js')
script(src='js/dialog.js')
script(src='js/button.js')
script(src='js/tooltip.js')
script(src='js/atk-helpers-min.js')
script(src='js/demo.js')