doctype html
<!--[if lt IE 7]<html lang="en" class="oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html
  <!--<![endif]-->
  include includes/head
  body
    include includes/browsehappy
    .atk-layout
      //- include includes/header
      .atk-layout-row.atk-layout-expand
        .atk-layout.atk-layout-cell
          aside.atk-layout-column#sidebar
            nav.atk-swatch-ink.scrollable
              a(href='splash.html').atk-text-bold.atk-text-lead.atk-padding.atk-inline AgileToolkit CSS
              hr.atk-hr-reset.atk-push-xsmall
              ul.atk-list-nobullets.atk-menu-vertical.atk-push-xsmall
                li
                  a(href="#getting-started").atk-swatch-ink.atk-padding.atk-section-xsmall Getting Started
                li
                  a(href="#layout").atk-swatch-ink.atk-padding.atk-section-xsmall Layout
                li
                  a(href="#grid-system").atk-swatch-ink.atk-padding.atk-section-small Grid System
                li
                  a(href="#typography").atk-swatch-ink.atk-padding.atk-section-xsmall Typography
                li
                  a(href="#helpers").atk-swatch-ink.atk-padding.atk-section-xsmall Helpers
                li
                  a(href="#components").atk-swatch-ink.atk-padding.atk-section-xsmall Components
                li
                  a(href="#forms").atk-swatch-ink.atk-padding.atk-section-xsmall Forms
                li
                  a(href="#widgets").atk-swatch-ink.atk-padding.atk-section-xsmall Widgets
                li
                  a(href="#icons").atk-swatch-ink.atk-padding.atk-section-xsmall Icons
                li
                  a(href="#responsive").atk-swatch-ink.atk-padding.atk-section-xsmall Responsive
                li
                  a(href="#jqueryui").atk-swatch-ink.atk-padding.atk-section-xsmall jQuery UI
              hr.atk-hr-reset.atk-push-xsmall
              ul.atk-list-nobullets.atk-menu-vertical
                li
                  a(href="index.html").atk-swatch-ink.atk-padding.atk-section-xsmall Playground
                li
                  a(href="examples.html").atk-swatch-ink.atk-padding.atk-section-xsmall Examples
          .atk-layout-column.atk-layout-expand
            .atk-wrapper.atk-section-large
              section#getting-started
                | Getting Started
              section#layout
                | Layout
              include includes/playground-gridsystem
              include includes/playground-typography
              include includes/playground-helpers
              include includes/playground-components
              include includes/playground-forms
              include includes/playground-widgets
              section#icons
                h2 Icons
                include includes/fontello
              include includes/playground-responsive
              include includes/playground-jqueryui
      //- include includes/footer
    include includes/scripts
    //- include includes/analytics