doctype html
<!--[if lt IE 7]<html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(class='no-js')
  <!--<![endif]-->
  include includes/head
  body
    include includes/browsehappy
    .atk-layout
      include includes/header
      .atk-layout-row.atk-layout-fluid
          .atk-layout.atk-layout-cell
              .atk-layout-column.atk-layout-fluid
                .atk-wrapper.atk-section-large
                  h2 Examples
                  p List of pre-cooked examples that can be used in your projects.
                  ul
                    li
                      a(href='examples/form-login.html') Login Form
                    li
                      a(href='examples/map-browser.html') Map Browser
    include includes/scripts
    include includes/analytics
