doctype html
<!--[if lt IE 7]<html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(class='no-js')
  <!--<![endif]-->
  include includes/head
  body
    include includes/browsehappy
    .atk-layout
      include includes/header
      .atk-layout-row.atk-layout-expand
          .atk-layout.atk-layout-cell#atk-layout-content
              .atk-layout-column.atk-layout-expand
                .atk-wrapper.atk-section-large
                  h3 Icons
                  p
                    span.atk-label.atk-effect-warning
                      span.icon-attention
                    | &nbsp;We are using&nbsp;
                    a(href='http://www.fontello.com') fontello.com
                    | &nbsp;to generate our awesome &amp; scalable vector icon font. You can easily add or remove icons from your font pack if file size is a concern.
                  style
                    .i-code {display: none;}
                  .atk-box
                    #example-icons.atk-box.atk-swatch-ink
                      #icons-library
                        include includes/fontello





    include includes/scripts
    include includes/analytics
