!!! 5
<!--[if lt IE 7]<html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(class='no-js')
  <!--<![endif]-->
  include includes/head
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    .atk-layout
      include includes/header
      .atk-layout-row.fluid
        .atk-layout
          .atk-layout-column.fluid
            .atk-wrapper.atk-section-large
              include includes/playground-gridsystem
              include includes/playground-typography
              include includes/playground-components
              include includes/playground-forms
              include includes/playground-widgets
              include includes/playground-jqueryui
      include includes/footer
    include includes/scripts